@use '../../../../variables.scss' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100%;
  max-width: 100%;
}

.episode-episode-view-wrapper {
  width: 100%;
  // height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 0.8rem;

  .header-container {
    margin-bottom: 1.6rem;
  }

  .edit-container-wrapper {
    width: 100%;
    height: 4rem;
  }

  section.episode-body {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    padding: 1.6rem;

    overflow-y: scroll;

    header.episode-episode-header {
      width: 56rem;
      min-width: 56rem;
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.4rem;

      .image-wrapper {
        width: 56rem;
        min-width: 56rem;
        height: 40rem;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 2.4rem;

        .episode-image {
          min-width: 100%;
          background-color: var(--main-color-dark-16);
          margin-bottom: 1.6rem;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .episode-title {
        height: 7.72rem;
        // margin: 3.2rem 0rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        transition: var(--transition-160);
      }

      .episode-episode-details {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 0.8rem;
        margin: 0rem 0rem 1.6rem 0rem;

        .separator-line {
          height: 1.2rem;
          min-width: 0.24rem;
          background-color: var(--main-color-dark-32);
          border-radius: 1rem;
        }

        .app-episode-wrapper {
          min-width: auto;

          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.8rem;
        }

        .date {
          min-width: 8.8rem;
        }

        .author {
          overflow: hidden;
          font-size: var(--font-size-regular);
          flex-grow: 1;
          max-width: 100%;
          width: 100%;
          mask-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 88%,
            rgba(0, 0, 0, 0) 100%
          );

          text-wrap: nowrap;
          white-space: nowrap;
          text-overflow: clip;
          transition: all 0.6s var(--cubic-bezzier-a);
        }
      }
    }

    .second-header {
      width: 56rem;
      min-width: 56rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.8rem;
      padding: 0.8rem 0rem;

      h1 {
        font-size: 2.4rem;
      }

      .horizontal-separator-line {
        height: 0.24rem;
        width: 100%;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }
    }

    .episode-text-wrapper {
      width: 56rem;
      min-width: 56rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.6rem;
    }

    section.next-episode-section {
      height: 32rem;

      width: 56rem;
      min-width: 56rem;
      min-height: 32rem;
      //   background-color: var(--main-color-dark-32);
      border-radius: 1.6rem;

      margin: 3.2rem 0rem;
    }

    .image-upload-field {
        background-color: var(--main-color-dark-08);
        border: 1.6px dashed var(--main-color-dark-32);
        border-radius: 2rem;
        height: 40rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1.6rem;
        padding: 0.4rem;
        transition: var(--transition-160);
        position: relative;

        .image-input {
          height: 100%;
          width: 100%;
          background-color: var(--main-color-light);
          border: 1.6px dashed var(--main-color-dark-32);
          border-radius: 1.6rem;
          padding: 0.8rem;
          opacity: 0;
          transition: var(--transition-160);
        }

        .input-field-overlay {
          position: absolute;
          bottom: 2.4rem;
          height: auto;
          width: 50%;

          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 0.24;

          background-color: var(--main-color-light);
          // backdrop-filter: blur(1.6rem);
          border: 1.6px dashed var(--main-color-dark-32);
          border-radius: 1.6rem;
          padding: 0.8rem;
          transition: var(--transition-160);

          .details-text {
            font-size: 1.2rem;
            opacity: 0.64;
            margin-bottom: 1.6rem;
            transition: var(--transition-160);
          }

          .image-file {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 0.8rem;

            transition: var(--transition-160);
            height: 3.2rem;
            width: 100%;
            background-color: var(--main-color-dark-08);
            border: 1.6px dashed var(--main-color-dark-16);
            border-radius: 0.8rem;
            padding: 0.2rem 0.24rem .2rem .4rem;
            margin-bottom: 1.6rem;

            transition: var(--transition-160);

            .image-icon {
              height: 2.4rem;
              width: 2.4rem;
              transition: var(--transition-160);
              svg {
                height: 2.4rem;
                width: 2.4rem;
                transition: var(--transition-160);
                path {
                  stroke: var(--main-color-dark);
                  stroke-width: 0.2rem;
                  transition: var(--transition-160);
                }
              }
            }

            .document-text {
              width: 100%;
            }

            .close-icon {
              height: 2.4rem;
              width: 2.4rem;
              min-width: 2.4rem;
              transition: var(--transition-160);
              background-color: var(--main-color-dark-16);
              border: 1px solid var(--main-color-dark-16);

              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              border-radius: .64rem;

              svg {
                height: 1.6rem;
                width: 1.6rem;
                transition: var(--transition-160);
                path {
                  stroke: var(--main-color-dark);
                  stroke-width: 0.2rem;
                  transition: var(--transition-160);
                }
              }

              &:hover {
                background-color: var(--main-color-dark-16);
                border: 1px solid var(--main-color-dark-16);
                scale: 1.1;
              }
            }

            .upload-button {
              background-color: var(--main-color-dark-invisible);
              width: 100%;
              transition: var(--transition-160);
            }
          }

          .upload-button {
            transition: var(--transition-160);
          }
        }

        &:hover {
          cursor: pointer;
          background-color: var(--main-color-dark-16);
          border: 1.6px dashed var(--main-color-dark-hover);
          transition: var(--transition-160);
        }
      }

      .image-container {
        border-radius: 1.6rem;
        padding-top: 0.32rem;
        height: 99%;
        width: 99%;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        pointer-events: none;
        transition: var(--transition-160);

        .drop-image-container-label {
          font-size: 1.2rem;
          opacity: 0.32;
          padding-bottom: 6.4rem;
          transition: var(--transition-160);
        }

        .image-preview-container {
          // background-color: var(--main-color-dark-32);
          height: 100%;
          width: 100%;

          border-radius: 1.6rem;
          overflow: hidden;

          display: flex;
          justify-content: center;
          align-items: center;
          transition: var(--transition-160);

          .uploaded-image-preview {
            width: 100%;
            height: auto; /* Let the height adjust based on the image's aspect ratio */
            background-size: contain; /* Ensures the image fits within the container without stretching */
            background-position: center;
            background-repeat: no-repeat;
            transition: var(--transition-160);
          }
        }
      }

    .input-field {
      width: 100%;
      height: max-content;
      padding: 1.2rem;
      background-color: var(--main-color-dark-invisible);
      border: 1px solid var(--main-color-dark-invisible);
      border-radius: 1.6rem;

      color: var(--main-color-dark);
      // overflow: hidden;
      transition: var(--transition-160);

      &:hover {
        cursor: text;
        background-color: var(--main-color-dark-16);
        border: 1px solid var(--main-color-dark-24);
        transition: var(--transition-160);
      }

      &:focus {
        outline: none; /* Remove default outline for a custom look */
        background-color: var(--main-color-16);
        border: 1.5px solid var(--main-color-hover);
        box-shadow: 0 0 0 0.4rem inset var(--main-color-16); /* Soft glow effect */
        transition: var(--transition-160);
      }
    }

    .title-input {
      font-size: 3.2rem;
      font-weight: 700;
    }

    .text-input {
      font-size: 1.6rem;
      min-height: 12.8rem;
    }
  }
}
