@use '../../variables.scss' as *;

:host {
  transition: var(--transition-24);
  .stat-container {
    width: auto;
    height: 4rem;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0.8rem;

    padding: 0.8rem;

    font-size: 1.4rem !important;
    transition: var(--transition-160);
    opacity: 0;

    svg {
      transition: var(--transition-160);
      width: 2.4rem;
      height: 2.4rem;

      path {
        transition: var(--transition-160);
        fill: var(--main-color-dark);
      }
    }

    .measurement-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;

      .unit {
        opacity: 0.64;
      }
    }

    .svg-hover {
      transition: var(--transition-160);
      height: 0rem;
      width: 0rem;

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;
      opacity: 0;

      border-radius: 0.8rem;
      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);

      svg {
        transition: var(--transition-160);

        height: 2rem;
        width: 2rem;

        path {
          fill: none;
          stroke-width: 0.2rem !important;
        }

        path:nth-child(0) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(1) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(2) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(3) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(4) {
          fill: var(--main-color-dark);
        }
      }
    }
  }

  @media (max-width: 792px) {
    opacity: 0;
    pointer-events: none;
  }
}

.container-left {
  position: fixed;
  z-index: 30 !important;

  bottom: 0.8rem;
  left: 0.8rem;
  padding-right: 0.32rem !important;

  justify-content: flex-start;

  background-color: var(--main-color-dark-background);
  z-index: 30 !important;

  border-radius: 1.2rem;
  border: 1px solid var(--main-color-dark-16);
  backdrop-filter: blur(0.4rem);
  box-shadow: var(--main-shadow-32);

  color: var(--main-color-dark);
  transition: var(--transition-160);

  .svg-hover {
    transition: var(--transition-160);
    z-index: 30 !important;
    svg {
      transform: translate(-4rem, 0rem);
    }
  }

  &:hover {
    transition: var(--transition-160);
    scale: 1.1;
    transform: translate(0.24rem, -0.24rem);

    cursor: pointer;

    .svg-hover {
      transition: var(--transition-160);
      height: 3.2rem;
      width: 3.2rem;
      opacity: 1;

      svg {
        transition: var(--transition-24);
        transform: translate(0rem, 0rem);
        height: 2rem;
        width: 2rem;

        path {
          transition: var(--transition-16) !important;
          fill: none;
          stroke-width: 0.16rem;
        }

        path:nth-child(0) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(1) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(2) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(3) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(4) {
          fill: var(--main-color-dark);
        }
      }

      &:hover {
        transition: var(--transition-16) !important;
        background-color: var(--main-color-hover);
        border: 1px solid #33333300;

        svg {
          path:nth-child(0) {
            stroke: var(--main-color-light);
          }
          path:nth-child(1) {
            stroke: var(--main-color-light);
          }
          path:nth-child(2) {
            stroke: var(--main-color-light);
          }
          path:nth-child(3) {
            stroke: var(--main-color-light);
          }
          path:nth-child(4) {
            fill: var(--main-color-light);
          }
        }
      }
    }
  }
}

.container-details {
  opacity: 1;
  left: 3.2rem;
  bottom: 8vh;
  width: auto;
  height: auto;
  background-color: var(--main-color-dark-background);
  border: 1px solid var(--main-color-dark-16);
  padding: 0.8rem;
  border-radius: 1.2rem;
  position: fixed;
  scale: 1;
  transition: var(--transition-160);
  overflow: hidden;

  backdrop-filter: blur(16px) !important;

  p {
    transition: var(--transition-160);
    color: var(--main-color-dark);
    width: 32rem;
    font-size: 1.4rem;
    height: auto;
    text-overflow: clip;
    overflow: hidden;
  }
}

.container-details-right {
  opacity: 1;
  right: 3.2rem;
  bottom: 8vh;
  width: auto;
  height: auto;
  background-color: var(--main-color-dark-background);
  border: 1px solid var(--main-color-dark-16);
  padding: 0.8rem;
  border-radius: 1.2rem;
  position: fixed;
  scale: 1;
  transition: var(--transition-160);
  overflow: hidden;

  backdrop-filter: blur(16px) !important;

  p {
    transition: var(--transition-160);
    color: var(--main-color-dark);
    width: 32rem !important;
    font-size: 1.4rem;
    height: auto;
    text-overflow: clip;
    overflow: hidden;
  }
}

.container-expanded {
  transition: var(--transition-160);
  left: 3.2rem;
  bottom: 8vh;
  width: 8rem;
  height: 8rem;
}

.info-active {
  transition: var(--transition-160);
  scale: 1;
  transform: translate(0.24rem, -0.24rem);
  opacity: 1;

  cursor: pointer;

  .container-details {
  }

  .svg-hover {
    transition: var(--transition-160);
    height: 3.2rem !important;
    width: 3.2rem !important;

    opacity: 1 !important;

    svg {
      transition: var(--transition-24);
      transform: translate(0rem, 0rem) !important;
      height: 2rem !important;
      width: 2rem !important;

      path {
        transition: var(--transition-16) !important;
        fill: none;
        stroke-width: 0.16rem;
      }

      path:nth-child(0) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(1) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(2) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(3) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(4) {
        fill: var(--main-color-light) !important;
      }
    }

    transition: var(--transition-16) !important;
    background-color: var(--main-color-hover) !important;
    border: 1px solid #33333300 !important;

    svg {
      // }
    }

    &:hover {
      scale: 1.1;
      background-color: var(--main-color-dark-background);
    }
  }
}

.info-active-right {
  transition: var(--transition-160);
  scale: 1;
  transform: translate(0.24rem, -0.24rem);
  opacity: 1;

  cursor: pointer;

  .container-details {
  }

  .svg-hover {
    transition: var(--transition-160);
    height: 3.2rem !important;
    width: 3.2rem !important;

    opacity: 1 !important;

    svg {
      transition: var(--transition-24);
      transform: translate(0rem, 0rem) !important;
      height: 2rem !important;
      width: 2rem !important;

      path {
        transition: var(--transition-16) !important;
        fill: none;
        stroke-width: 0.16rem;
      }

      path:nth-child(0) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(1) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(2) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(3) {
        stroke: var(--main-color-light) !important;
      }
      path:nth-child(4) {
        fill: var(--main-color-light) !important;
      }
    }

    transition: var(--transition-16) !important;
    background-color: var(--main-color-hover) !important;
    border: 1px solid #33333300 !important;

    svg {
      // }
    }

    &:hover {
      scale: 1.1;
      background-color: var(--main-color-dark-background);
    }
  }
}

.container-right {
  position: fixed;
  z-index: 30 !important;

  bottom: 2.4rem;
  right: 2.4rem;
  padding-right: 0.32rem !important;
  padding-left: 0.32rem !important;

  justify-content: flex-start;

  background-color: var(--main-color-dark-background);
  z-index: 30 !important;

  border-radius: 1.2rem;
  border: 1px solid var(--main-color-dark-16);
  backdrop-filter: blur(0.4rem);
  box-shadow: var(--main-shadow-32);

  color: var(--main-color-dark);
  transition: var(--transition-160);

  .svg-hover {
    svg {
      transform: translate(4rem, 0rem);
    }
  }

  &:hover {
    transition: var(--transition-160);
    scale: 1.1;
    transform: translate(-0.16rem, -0.16rem);

    cursor: pointer;

    .svg-hover {
      transition: var(--transition-160);
      height: 3.2rem;
      width: 3.2rem;

      opacity: 1;

      svg {
        transition: var(--transition-24);
        transform: translate(0rem, 0rem);
        height: 2rem;
        width: 2rem;

        path {
          transition: var(--transition-16) !important;
          fill: none;
          stroke-width: 0.16rem;
        }

        path:nth-child(0) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(1) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(2) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(3) {
          stroke: var(--main-color-dark);
        }
        path:nth-child(4) {
          fill: var(--main-color-dark);
        }
      }

      &:hover {
        transition: var(--transition-16) !important;
        background-color: var(--main-color-hover);
        border: 1px solid #33333300;

        svg {
          path:nth-child(0) {
            stroke: var(--main-color-light);
          }
          path:nth-child(1) {
            stroke: var(--main-color-light);
          }
          path:nth-child(2) {
            stroke: var(--main-color-light);
          }
          path:nth-child(3) {
            stroke: var(--main-color-light);
          }
          path:nth-child(4) {
            fill: var(--main-color-light);
          }
        }
      }
    }
  }
}
