@use '../../../../variables.scss' as *;

:host {
  width: 100%;
  height: auto;
  transition: all 0.6s var(--cubic-bezzier-a);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 1.2rem;
  overflow: hidden;

  .actions {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    opacity: 0;

    transition: inherit;
    border-radius: 1.2rem;
    padding: .4rem;

    background-color: var(--main-color-dark-invisible);
      border: 1px solid var(--main-color-dark-invisible);

    .button {
      height: 3.2rem;
      width: 3.2rem;
      min-width: 3.2rem;
      min-height: 3.2rem;

      border-radius: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: inherit;

      .button-icon {
        height: 3.2rem;
        width: 3.2rem;

        opacity: 0.32;
        transition: inherit;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem;

        background-color: var(--main-color-dark-invisible);
        border: 1px solid var(--main-color-dark-invisible);

        svg {
          height: 2rem;
          width: 2rem;
          transition: var(--transition-24);
          path {
            stroke: var(--main-color-dark);
            stroke-width: 0.24rem;
            transition: var(--transition-24);
          }
        }

        &:hover {
          transition: inherit;
          background-color: var(--main-color-hover);
          border: 1px solid var(--main-color-dark-16);
          opacity: 1;
          cursor: pointer;

          svg {
            transition: var(--transition-24);

            path {
              stroke: var(--main-color-light-hover);
              transition: var(--transition-24);
            }
          }
        }
      }

      .edit {
        transition: inherit;
      }
    }
  }

  &:hover {
    .actions {
      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);

      opacity: 1;
    }
  }
}

.article-card-wrapper {
  width: 100%;
  height: 4rem;
  min-height: 4rem;
  border-radius: 1.2rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--main-color-dark-invisible);
  border: 1px solid var(--main-color-dark-invisible);
  transition: inherit;
  padding: 0.4rem 0.4rem 0.4rem 0rem;

  .hover-bar {
    height: 1.2rem;
    min-width: 0rem;
    background-color: var(--main-color-dark-hover);
    border-radius: 0.8rem;
    transition: inherit;
  }

  .article-image {
    height: 2.4rem;
    width: 2.4rem;
    min-width: 2.4rem;
    min-height: 2.4rem;
    border-radius: 0.64rem;
    background-color: var(--main-color);
    transition: inherit;
  }

  .article-title {
    height: 2.4rem;
    overflow: hidden;
    font-size: var(--font-size-regular);
    flex-grow: 1;
    max-width: 100%;
    font-weight: 600;
    width: 100% ;
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 88%,
      rgba(0, 0, 0, 0) 100%
    );

    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: clip;
    transition: all 0.6s var(--cubic-bezzier-a);
  }

  .separator-line {
    height: 1.2rem;
    width: 0.24rem;
    min-width: 0.24rem;
    background-color: var(--main-color-dark-32);
    transition: inherit;
  }

  .article-author {
    min-width: 12.8rem;
    transition: inherit;
  }

  .article-date {
    min-width: 8rem;
    transition: inherit;
  }

  .article-sources-wrapper {
    transition: inherit;
  }

  &:hover {
    transition: inherit;
    background-color: var(--main-color-dark-16);
    border: 1px solid var(--main-color-dark-16);
    cursor: pointer;
    padding: 0.4rem 0.4rem 0.4rem .8rem;
    gap: 0.8rem;

    .article-title{
        font-weight: 700;
    }

    .hover-bar {
      transition: inherit;
      min-width: 0.24rem;
    }
  }
}
