/* You can add global styles to this file, and also import other style files */
// Root variables
// @import '../../src/variables.scss';
// Global Reset;
@use 'variables.scss' as *;

/* Belanosima Font */
@font-face {
  font-family: 'Belanosima';
  src: url('/assets/fonts/Belanosima-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Belanosima';
  src: url('/assets/fonts/Belanosima-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Belanosima';
  src: url('/assets/fonts/Belanosima-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Climate Crisis Font */
@font-face {
  font-family: 'Climate Crisis';
  src: url('/assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Setting the font-size to 16px through the 62.5 trick
html,
body {
  height: auto;
  // overflow-x: hidden;
  min-height: 100%;
  max-width: 100vw;
  font-size: 62.5%;
  background-color: var(--main-color-light) !important;

  // @media (max-width: 1199px) {
  //   font-size: 60%;
  // }

  // /* Small tablets and large phones */
  // @media (max-width: 767px) {
  //   font-size: 55%;
  // }

  // /* Small phones */
  // @media (max-width: 480px) {
  //   font-size: 50%;
  // }
}

::-webkit-scrollbar {
  display: none;
  position: absolute;
  right: 0.8rem;
  height: 80vh;
  background-color: red;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

// Setting up the font on the whole website
body {
  font-family: var(--main-font-family);
  font-size: var(--font-size-regular);
  line-height: 1.6;
  color: var(--main-color);
  background-color: var(--main-color-light);
}

// Resetting the links styling
a {
  text-decoration: none;
  color: inherit;
}

// Resetting the list styling
ul,
ol {
  list-style: none;
}

// Setting up the form styling to inherit the font
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

// Styling tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// *{
//   max-width: 100%;
// }
