/* You can add global styles to this file, and also import other style files */
// Root variables
:root {
  // Colors
  --main-color: #c4e455;
  --main-color-32: #c4e45532;
  --main-color-24: #c4e45524;
  --main-color-16: #c4e45516;
  
  // --main-color-dark: #384605;
  // --main-color-dark-08: #38460508;
  // --main-color-dark-16: #38460516;
  // --main-color-dark-24: #38460524;
  // --main-color-dark-32: #38460532;
  // --main-color-dark-64: #38460564;
  // --main-color-dark-80: #38460580;

  --main-color-dark: #272c09;
  --main-color-dark-invisible: #272c0900;
  --main-color-dark-08: #272c0908;
  --main-color-dark-16: #272c0916;
  --main-color-dark-24: #272c0924;
  --main-color-dark-32: #272c0932;
  --main-color-dark-64: #272c0964;
  --main-color-dark-80: #272c0980;

  --main-color-dark-background: #d8dec0;

  --main-color-light: #e9efd1;
  --main-color-light-invisible: #e9efd100;
  --main-color-light-08: #e9efd108;
  --main-color-light-16: #e9efd116;
  --main-color-light-24: #e9efd124;
  --main-color-light-32: #e9efd132;
  --main-color-light-64: #e9efd164;
  --main-color-light-80: #e9efd180;

  // hover colors
  --main-color-hover: #9cc40a;
  --main-color-dark-hover: #596e0c;
  --main-color-light-hover: #ffffff;

  // status colors
  --main-color-error: #c4480a;
  --main-color-error-08: #c4480a08;
  --main-color-error-16: #c4480a16;
  --main-color-error-32: #c4480a32;
  --main-color-error-64: #c4480a64;

  --main-color-correct: #0ac420;
  --main-color-correct-08: #0ac42008;
  --main-color-correct-16: #0ac42016;
  --main-color-correct-32: #0ac42032;
  --main-color-correct-64: #0ac42064;

  --main-color-alert: #c4b80a;
  --main-color-alert-08: #c4b80a08;
  --main-color-alert-16: #c4b80a16;
  --main-color-alert-32: #c4b80a32;
  --main-color-alert-64: #c4b80a64;

  // Shadows
  --main-shadow: 0rem 0.02rem 0.8rem var(--main-color-dark-16);
  --darker-shadow: 0rem 0.02rem 0.08rem var(--main-color-dark-32);

  // Fonts
  --main-font-family: 'Belanosima', sans-serif;
  --secondary-font-family: "Climate Crisis", sans-serif;
  --tertiary-font-family: "Sofia Sans", sans-serif;

  --font-size-small: 1.4rem;
  --font-size-regular: 1.6rem;
  --font-size-heading: 2rem;
  --font-size-title: 2.4rem;

  // Breakpoints
  --breakpoint-xs: 360px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  --cubic-bezzier-a: cubic-bezier(0, 0.99, 0.53, 1);

  // Transitions
  --transition-8: all 0.08s ease-out;
  --transition-16: all 0.16s ease-out;
  --transition-24: all 0.24s ease-out;
  --transition-32: all 0.32s ease-out;
  --transition-64: all 0.64s ease-out;
  --transition-120: all 1.2s ease-out;
  --transition-160: all 1.6s var(--cubic-bezzier-a);

  --transition-experiment: all .64s var(--cubic-bezzier-a);
}
