:host {
  z-index: 10;
  position: fixed;
  width: 24vw;
  //   height: 9.6rem;
  right: 32%;
  left: 32%;
  bottom: 2.4rem;

  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .audio-player-container {
    transition: all 0.32s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    height: auto;

    background-color: #e9efd1;
    box-shadow: 0rem 0rem 0rem 0.32rem #e9efd180, 0rem 0.2rem 3.2rem #0e3c0724;
    // box-shadow:  0rem 0rem 1.6rem 0rem #000000;

    border-radius: 2rem;
  }

  .bottom-controls {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: #e9efd1;
      height: 3.2rem;
      width: 3.2rem;
      //   box-shadow: 0rem 0.2rem 1.6rem #0e3c0748;
      border-radius: 0.8rem;

      display: flex;
      align-items: center;
      justify-content: center;
      // padding-left: 0.2rem;
      transition: all 0.32s ease-out;
    }

    button:hover {
      background-color: #7f9a1516;
      box-shadow: 0rem 0rem 0rem 0.32rem #e9efd180;
      transition: all 0.32s ease-out;
      scale:1.1;
      cursor: pointer;
      svg {
        transition: all 0.32s ease-out;

        path {
          stroke: #7f9a15;
          stroke-width: .24rem;
          transition: all 0.32s ease-out;
        }
      }
    }

    .separator-line-a {
      height: 1.2rem;
      width: 0.2rem;
      background-color: #484209;
      opacity: 0.64;
      border-radius: 0.8rem;
      transition: all 0.32s ease-out;
    }

    .expand-button {
      background-color: #875e06;
      height: 3.2rem;
      width: 3.2rem;
      box-shadow: 0rem 0.2rem 1.6rem #0e3c0748;
      border-radius: 0.8rem;

      display: flex;
      align-items: center;
      justify-content: center;
      // padding-left: 0.2rem;
      transition: all 0.32s ease-out;

      svg {
        transition: all 0.32s ease-out;
        path {
          stroke: #e9efd1 !important;
          transition: all 0.32s ease-out;
        }
      }
    }

    .expand-button:hover {
      background-color: #7f9a15;
      scale: 1.08;
      cursor: pointer;
      transition: all 0.32s ease-out;
    }
  }

  .controls-container {
    // background-color: #e9efd1;
    height: auto;
    width: 100%;
    padding: 1.2rem;
    // padding: 1.6rem
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;

    --font-family: 'Belanosima', sans-serif;

    .top-part {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1.2rem;
      width: 100%;

      .text-row {
        width: 100%;
      }

      .collapse-button {
        background-color: #adc451;
        height: 3.2rem;
        width: 3.2rem;
        // box-shadow: 0rem 0.2rem 1.6rem #0e3c0748;
        border-radius: 0.8rem;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0.2rem;
        opacity: 0.32;
        z-index: 10;

        position: absolute;
        right: 0.8rem;
        top: 0.8rem;
        transition: all 0.32s ease-out;

        svg {
          height: 1.6rem;
          width: 1.6rem;
          transition: all 0.32s ease-out;
          path {
            stroke-width: 0.3rem;
            border-radius: 1.6rem;
            transition: all 0.32s ease-out;
          }
        }
      }

      .collapse-button:hover {
        background-color: #6d8800;
        opacity: 1;
        transition: all 0.32s ease-out;
        cursor: pointer;

        svg {
          color: #e9efd1;
          path {
            stroke: #e9efd1;
          }
        }
      }

      img {
        height: 5.6rem !important;
        width: 5.6rem !important;
        border-radius: 1.2rem;
        background-color: red;
      }

      .details-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        gap: 0.8rem;
      }

      .episode-title {
        --font-family: 'Belanosima', sans-serif !important;
        font-size: 2rem;
      }

      .separator-line {
        height: 1.2rem;
        width: 0.2rem;
        background-color: #484209;
        opacity: 0.64;
        border-radius: 0.8rem;
      }

      .episode-details {
        --font-family: 'Belanosima', sans-serif !important;
        opacity: 0.64;
      }
    }
  }

  .progress-bar {
    background-color: #48420932;
    width: 100%;
    height: 0.8rem;
    margin-bottom: 0.8rem;

    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0.16rem;
    position: relative;

    .bar {
      background-color: #7f9a15;
      width: 3.2rem;
      height: 0.64rem;
      border-radius: 0.8rem;
    }

    .round-tracker {
      height: 0.8rem;
      width: 0.8rem;
      background: #6d8800;
      box-shadow: 0rem 0rem 0rem 0.32rem #e9efd180, 0rem 0rem 1.6rem 0rem #000000;
      position: absolute;
      left: 3.2rem;

      border-radius: 0.8rem;
    }
  }

  .captions {
    width: 100%;
    height: 3.2rem;
    background-color: #00000008;
    padding: 0.32rem;
    // display: flex;
    // align-items: center;
    border-radius: 1.2rem;

    transition: all 0.32s ease-out;
    p {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      height: 100%;
      width: 100%;
      border-radius: 0.8rem;
      padding: 0.8rem;
      background: #6d880016;

      opacity: 64;
      transition: all 0.32s ease-out;
      //   color: #435109;
    }
  }
}

// ----------------------------------------
// ------------   DISABLED   ---------
// ----------------------------------------

.audio-player-container-disabled {
  height: 4.8rem !important;
  width: 4.8rem !important;
  transition: all 0.32s ease-out;
  border-radius: 1.2rem !important;
  box-shadow: none;
  // background-color: rgb(226, 186, 186);
}

.controls-container-disabled {
  height: 100% !important;
  width: 100% !important;
  border-radius: 1.2rem !important;
  transition: all 0.32s ease-out;
  padding: 0rem !important;
  // background-color: rgb(197, 63, 63);
}

.collapse-button-collapsed {
  // background-color: #e9efd1 !important;
  background-color: #e9efd1 !important;

  // position: absolute;
  right: 12.6rem !important;
  top: -4rem !important;
  transition: all 0.32s ease-out;
  padding-right: 0.1rem !important;
}

.collapse-button-collapsed:hover {
  background-color: #6d8800 !important;
  opacity: 1;
  transition: all 0.32s ease-out;
  cursor: pointer;

  svg {
    color: #e9efd1;
    transform: rotate(-45deg);
    path {
      stroke: #e9efd1;
    }
  }
}
.expand-button-collapsed {
  height: 32px !important;
  width: 32px !important;
  // position: absolute;
  // top: auto;
  // bottom:auto;
  transition: all 0.32s ease-out;
  transform: translateY(-2.3rem) translateX(0.8rem);
  // scale: 1.2;
}

.bottom-controls-disabled {
  width: 3.2rem !important;
}

.control-disabled {
  height: 0px !important;
  width: 0px !important;
  background-color: red;
  transition: all 0.24s ease-out;
  opacity: 0 !important;

  svg {
    opacity: 0 !important;
    height: 0px !important;
    width: 0px !important;
    transition: all 0.24s ease-out;
  }
}

.separator-line-disabled {
  height: 0px !important;
  opacity: 0px !important;
  transition: all 0.16s ease-out;
}

.captions-disabled {
  height: 0px !important;
  // width: 0px !important;
  opacity: 0 !important;
  transition: all 0.24s ease-out;
  padding: 0px;
  overflow: hidden !important;

  .caption-disabled {
    height: 0px !important;
    // width: 0px !important;
    opacity: 0 !important;
    transition: all 0.08s ease-out;
    padding: 0px;
    overflow: hidden;
  }
}

.progress-bar-disabled {
  height: 0px !important;
  width: 0px !important;
  opacity: 0 !important;
  margin: 0px 40% !important;
  transition: all 0.24s ease-out;
  .round-tracker {
  }

  .bar {
  }
}

.top-part-disabled {
  height: 0px !important;
  width: 0px !important;
  // opacity: 0 !important;
  transition: all 0.24s ease-out;
  img {
    // height: 0px !important;
    // width: 0px !important;
    opacity: 0 !important;
    scale: 0.1;
    transition: all 0.24s ease-out;
  }
  .text-row {
    height: 0px !important;
    // width: 0px !important;
    opacity: 0 !important;

    transition: all 0.24s ease-out;
    // overflow: hidden !important;
  }
  .episode-title {
    height: 0px !important;
    width: 0px !important;
    opacity: 0 !important;
    transition: all 0.24s ease-out;
  }

  .details-row {
    width: 0px !important;
    transition: all 0.24s ease-out;

    .episode-details {
      height: 0px !important;
      opacity: 0 !important;
      transition: all 0.24s ease-out;
    }

    .separator-line {
      height: 0px !important;
      opacity: 0 !important;
      transition: all 0.24s ease-out;
    }
  }
}
