@use '../../variables.scss' as *;

:host {
  height: auto;
  width: 100%;
}

.transition-A {
  overflow: hidden;
  height: 0rem;
  transform: translate(1.6rem, 3.2rem) skewX(-12deg) skewY(-6deg) ;
  opacity: 0;
}

.transition-horizontal-line {
  // min-width: 0rem;
  max-width: 0rem;
  // width: 0rem;
}

.transition-vertical-line {
  max-height: 0rem;
}


#smooth-wrapper {
  #smooth-content {
    will-change: transform;
    gap: 1.6rem;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    // position: relative; /* All children are positioned relative to this */

    position: relative;
    padding: 0.8rem;
    border-radius: 3.2rem;
  }
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  h1 {
    color: var(--main-color-dark);
  }
}

.horizontal-seaprator-line {
  min-height: 0.24rem;
  width: 100%;
  background-color: var(--main-color-dark-32);
  border-radius: 1rem;
}

.content-wrapper {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 3.2rem;
  // border-radius: 3.2rem;

  section {
    // height: 100%;
    width: 100%;
    min-height: 95vh;

    border-radius: 3.2rem;
    // background-color: var(--main-color-dark-16);
  }

  // ****************************
  // First section
  // ****************************
  section.main-articles {
    height: 95vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2.4rem;
    padding: 8rem 1.6rem 0.8rem 1.6rem;

    .main-wrapper {
      // background-color: #ffe10032;
      width: 70%;
      height: 100%;
      min-height: 100%;
    }

    .separator-line {
      height: 100%;
      min-width: 0.24rem;
      background-color: var(--main-color-dark-32);
      border-radius: 1rem;
    }

    .latest-news-wrapper {
      width: 30%;
      max-width: 40.8rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.2rem;

      // min-height: 100%;
    }
  }

  section.separator-articles {
    width: 100%;
    height: auto;
    min-height: 24rem !important;
    background-color: var(--main-color-dark);
    border-radius: 3.2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 3.2rem 0rem;
    padding: 0rem 12.8rem;

    .separator-wrapper {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      ul {
        min-width: 36rem;

        li {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 1.2rem;
          height: 4rem;

          .dot {
            height: 0.64rem;
            width: 0.64rem;
            background-color: var(--main-color);
            border-radius: 1rem;
            box-shadow: 0rem 0rem 0rem 0.4rem var(--main-color-16);

            margin-right: 0.4rem;
          }

          b {
          }

          .separator-line {
            height: 1.2rem;
            min-width: 0.24rem;
            background-color: var(--main-color-32);
            border-radius: 1rem;
          }

          p {
          }
        }
      }
    }
  }

  section.all-articles {
    height: auto;
    width: 100%;
    padding: 0rem 1.6rem 3.2rem 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.2rem;

    .episode-list {
      height: auto;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1.6rem;
    }
  }
}
