@use '../../variables.scss' as *;

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  color: var(--main-color-dark);

  width: 100%;
  // max extension
  max-width: 100vw;
  transition: var(--transition-160);

  padding: 2.2rem 2.4rem 0rem 2.4rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  header {
    transition: var(--transition-160);

    ul {
      height: 4rem;
      background-color: var(--main-color-dark-background);
      border: 1px solid var(--main-color-dark-16);
      border-radius: 1.2rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      padding: 0.4rem;
      transition: var(--transition-160);
    }
  }

  // ***************************
  // Left container
  // ***************************
  .nav-logo-wrapper {
    ul {
      justify-content: flex-start;
      gap: 0.8rem;
      padding: 0.4rem 1.2rem 0.4rem 0.64rem;

      .logo {
        height: 3.2rem;
        width: 3.2rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: var(--transition-160);

        svg {
          transition: var(--transition-160);
          height: 2.8rem;
          width: 2.8rem;
          path {
            transition: var(--transition-160);
          }
        }
      }

      h3 {
        padding-top: 0.2rem;
        font-size: 1.4rem;
        transition: var(--transition-160);
      }
    }
  }

  // ***************************
  // Center container
  // ***************************
  .nav-main-navigation {
    margin: 0rem 0rem 0rem 5.2rem;
    position: relative;
    overflow: hidden;
    ul {
      overflow: hidden;
      justify-content: center;
      gap: 0.4rem;

      li {
        z-index: 99;
      }

      li:nth-child(1) {
        &:hover ~ .button-hover-background {
        }
      }
      li:nth-child(2) {
        &:hover ~ .button-hover-background {
        }
      }
      li:nth-child(3) {
        &:hover ~ .button-hover-background {
        }
      }
      li:nth-child(4) {
        &:hover ~ .button-hover-background {
        }
      }

      .button-hover-background {
        position: absolute;
        left: 0.4rem;
        height: 3.2rem;
        width: 12rem;
        background-color: var(--main-color-dark);
        pointer-events: none;
        border-radius: 0.8rem;
        transition: var(--transition-160);
        z-index: 50;
      }
    }
  }

  // ***************************
  // Right container
  // ***************************
  .nav-login-navigation {
    overflow: hidden;
    ul {
      padding: 0.4rem 0.4rem 0.4rem 0.4rem !important;
      justify-content: flex-start;
      position: relative;
      overflow: hidden;
      gap: 0.8rem;

      li {
        z-index: 10;
      }

      li.language-button {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: var(--transition-160);

        border-radius: 0.8rem;

        .language-button-wrapper {
          height: 3.2rem;
          width: 3.2rem;

          position: relative;
          transition: var(--transition-160);

          .language-icon {
            height: 3.2rem;
            width: 3.2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;

            border-radius: 0.8rem;
            border: 1px solid var(--main-color-dark-invisible);
            transition: var(--transition-160);

            &:hover {
              background-color: var(--main-color-dark-08);
              border: 1px solid var(--main-color-dark-16);
              transition: var(--transition-160);

              svg {
                transition: var(--transition-160);
                scale: 1.1;
              }
            }
          }

          .ln-active {
            z-index: 99 !important;
            transition: var(--transition-160);
          }

          .ln-inactive {
            z-index: 98 !important;
            transition: var(--transition-160);
          }

          .italian {
            svg {
              height: 2rem;
              width: 2rem;

              path {
              }
            }
          }

          .english {
            svg {
              height: 2rem;
              width: 2rem;

              path {
              }
            }
          }

          svg {
            height: 2rem;
            width: 2rem;

            path {
            }
          }
        }

        &::before {
          position: absolute;
          content: '';
          height: 1.6rem;
          width: 3.2rem;

          transform: translateY(-1.6rem);

          top: 7.2rem;
        }

        &:hover {
          padding: 0rem 0.24rem;
          transition: var(--transition-160);

          .language-button-wrapper {
            transition: var(--transition-160);

            .language-icon {
              transition: var(--transition-160);
            }

            .ln-active {
              background-color: var(--main-color-dark-08);
              border: 1px solid var(--main-color-dark-16);
              transition: var(--transition-160);
              &:hover {
                transition: var(--transition-160);
                background-color: var(--main-color-dark-16);
                border: 1px solid var(--main-color-dark-24);
              }
            }

            .ln-inactive {
              top: 4rem;
              background-color: var(--main-color-dark-background);
              transition: var(--transition-160);
              &:hover {
                transition: var(--transition-160);
                background-color: var(--main-color-dark-16);
                border: 1px solid var(--main-color-dark-16);
              }
            }
          }
        }
      }

      li.temperature {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.2rem;
        height: 3.2rem;
        padding: 0.2rem 0.8rem 0.2rem 0.2rem;
        border-radius: 0.8rem;

        background-color: var(--main-color-dark-invisible);
        border: 1px solid var(--main-color-dark-invisible);
        transition: var(--transition-160);

        cursor: pointer;

        .info-icon {
          height: 3.2rem;
          width: 0rem;
          border-radius: 0.8rem;

          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          transition: var(--transition-160);
          cursor: pointer;

          svg {
            transform: translateX(0.8rem);
            height: 1.2rem;
            width: 1.2rem;
            transition: var(--transition-32);
            cursor: pointer;
            path {
              stroke: var(--main-color-dark);
              transition: var(--transition-32);
              stroke-width: 0.24rem;
            }
          }
        }

        .temp-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          gap: 0.2rem;
          transition: var(--transition-160);
          cursor: pointer;

          .p {
            font-size: 2.4rem;
            transition: var(--transition-160);
          }

          .temp-text {
            font-size: 2.8rem;
            color: #d73030;
          }

          .temp-text-C {
            margin-top: 0.32rem;
            font-size: 2.4rem;
          }
        }

        .temp-indicator {
          height: 0.64rem;
          width: 0.64rem;
          background-color: var(--main-color-dark);
          box-shadow: 0rem 0rem 0rem 0.4rem var(--main-color-dark-16);
          border-radius: 1rem;
          margin: 0rem 0.8rem 0rem 0.24rem;

          animation: pulseShadow 3.2s infinite var(--cubic-bezzier-a);
        }

        @keyframes pulseShadow {
          0% {
            box-shadow: 0rem 0rem 0rem 0rem var(--main-color-dark-invisible);
          }
          64% {
            box-shadow: 0rem 0rem 0rem 0.4rem var(--main-color-dark-16);
          }
          99% {
            box-shadow: 0rem 0rem 0rem 0.4rem var(--main-color-dark-invisible);
          }
          100% {
            box-shadow: 0rem 0rem 0rem 0rem var(--main-color-dark-invisible);
          }
        }

        &:hover {
          background-color: var(--main-color-dark-08);
          border: 1px solid var(--main-color-dark-16);
          transition: var(--transition-160);

          gap: 0.4rem;
          cursor: pointer;

          .info-icon {
            height: 3.2rem;
            width: 3.2rem;
            transition: var(--transition-160);
            padding-top: 0.08rem;
            cursor: pointer;

            svg {
              transform: translateX(0rem);
              height: 2.4rem;
              width: 2.4rem;
              transition: var(--transition-32);
              cursor: pointer;
              path {
                stroke: var(--main-color-dark);
                transition: var(--transition-32);
                stroke-width: 0.16rem;
              }
            }
          }

          .temp-wrapper {
            cursor: pointer;
            gap: 0.4rem;
            transition: var(--transition-160);

            p {
              transition: var(--transition-160);
            }

            .temp-text {
              font-size: 3rem;
            }

            .temp-text-C {
              color: var(--main-color-dark-hover);
            }
          }

          .temp-indicator {
            height: 0.64rem;
            width: 0.64rem;
            background-color: var(--main-color-dark-hover);
            box-shadow: 0rem 0rem 0rem 0.4rem #596e0c16;
            border-radius: 1rem;
            margin: 0rem 0.8rem 0rem 0.24rem;

            animation: pulseShadow 3.2s infinite var(--cubic-bezzier-a);
          }

          @keyframes pulseShadow {
            0% {
              box-shadow: 0rem 0rem 0rem 0rem #596e0c00;
            }
            64% {
              box-shadow: 0rem 0rem 0rem 0.4rem #596e0c24;
            }
            99% {
              box-shadow: 0rem 0rem 0rem 0.4rem #596e0c00;
            }
            100% {
              box-shadow: 0rem 0rem 0rem 0rem #596e0c00;
            }
          }
        }
      }

      .separator-line-right-container {
        width: 0.24rem;
        min-width: 0.24rem;
        height: 1.2rem;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }

      .login-button-hover-background {
        position: absolute;
        left: 0.4rem;
        width: 12rem;
        background-color: var(--main-color-dark);
        pointer-events: none;
        border-radius: 0.8rem;
        transition: var(--transition-160);
        z-index: 0;
      }
    }
  }
}

.nav-button-wrapper {
  cursor: pointer;
}

.active {
  color: var(--main-color);
  gap: 0.64rem;
  background-color: var(--main-color-dark-16);
  border: 1px solid var(--main-color-dark-16);
  cursor: pointer;

  .nav-icon {
    width: 2rem !important;
    transition: var(--transition-160);
    cursor: pointer;

    svg {
      height: 1.8rem !important;
      width: 1.8rem !important;
      transition: var(--transition-160);
      path {
        stroke: var(--main-color) !important;
        transition: var(--transition-160);
      }
    }
  }
}

.nav-button {
  height: 3.2rem;
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;

  border-radius: 0.8rem;
  padding: 0.4rem 1.2rem 0.4rem 0.64rem;
  background-color: var(--main-color-dark-invisible);
  border: 1px solid var(--main-color-dark-invisible);
  transition: var(--transition-160);
  cursor: pointer;
  z-index: 99;

  .nav-icon {
    height: 2.4rem;
    width: 0rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: var(--transition-160);
    cursor: pointer;

    svg {
      height: 1rem;
      width: 1rem;
      transition: var(--transition-160);
      cursor: pointer;
      path {
        stroke: var(--main-color-dark);
        transition: var(--transition-160);
        stroke-width: 0.24rem;
      }
    }
  }

  &:hover {
    gap: 0.64rem;
    background-color: var(--main-color-dark-08);
    border: 1px solid var(--main-color-dark-16);
    color: var(--main-color-dark-hover);
    cursor: pointer;

    .nav-icon {
      height: 2rem;
      width: 2rem;
      transition: var(--transition-160);
      cursor: pointer;

      svg {
        height: 1.8rem;
        width: 1.8rem;
        transition: var(--transition-160);
        path {
          stroke: var(--main-color-dark-hover);
          transition: var(--transition-160);
        }
      }
    }
  }
}
