@use '../../../variables.scss' as *;

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100%;
  max-width: 100%;
  transition: var(--transition-160);
}

.main-view-wrapper {
  width: 100%;
  // height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 0.8rem;

  .header-container {
    margin-bottom: 0.7rem;
  }

  .details-row {
    width: 100%;
    height: 6.4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 0.8rem;
    transition: var(--transition-160);

    .details-container {
      height: 100%;
      width: 100%;
      background-color: var(--main-color-dark-08);
      border: 1px solid var(--main-color-dark-08);
      border-radius: 1.6rem;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      gap: 1.2rem;
      padding: 0.4rem;
      transition: inherit;

      .icon {
        height: 5.6rem;
        width: 5.6rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: var(--main-color-dark);
        border: 1px solid var(--main-color-dark);
        border-radius: 1.2rem;
        position: relative;
        overflow: hidden;
        transition: inherit;

        svg:first-child {
          position: absolute;
          height: 2.8rem;
          width: 2.8rem;
          transform: translateY(0rem);
          transition: inherit;
          path {
            stroke: var(--main-color) !important;
            stroke-width: 0.2rem;
            transition: inherit;
          }
        }

        svg:last-child {
          position: absolute;
          height: 2.8rem;
          width: 2.8rem;
          transform: translateY(6.4rem);
          transition: inherit;

          path {
            stroke: var(--main-color);
            stroke-width: 0.2rem;
            transition: inherit;
          }
        }
      }

      .container-column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 0.16rem;

        transition: inherit;
        .container-title {
          height: 1.6rem;
          font-size: 1.4rem;
          transition: inherit;
          opacity: 0.64;
        }

        .container-details {
          font-size: 2.4rem;
          height: 3.2rem;
          text-align: center;
          transition: inherit;
        }
      }

      &:hover {
        width: 108%;
        background-color: var(--main-color-dark-24);
        border: 1px solid var(--main-color-dark-32);
        cursor: pointer;
        .icon {
          background-color: var(--main-color-dark-hover);
          border: 1px solid var(--main-color);

          svg:first-child {
            transform: translateY(-6.4rem);
            transition: inherit;
            path {
              transition: inherit;
            }
          }

          svg:last-child {
            transform: translateY(0rem);
            transition: inherit;

            path {
              transition: inherit;
            }
          }
        }
        .container-column {
          gap: 0.32rem;

          transition: inherit;
          .container-title {
            height: 1.6rem;
            transition: inherit;
          }

          .container-details {
            height: 3.2rem;
            transition: inherit;
            color: var(--main-color-dark-hover);
          }
        }
      }
    }
  }

  .separator-line {
    height: 0.16rem;
    min-height: 0.16rem;
    width: 100%;
    background-color: var(--main-color-dark-32);
    border-radius: 1rem;
    transition: var(--transition-160);
  }

  .content-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 3.2rem;
    padding-top: 3.2rem;

    transition: var(--transition-160);

    .list-container {
      padding-top: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 0.24rem;
    }

    .episodes-column {
      width: 66%;
    }

    .section-header {
      width: 100%;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      .button-wrapper {
        width: auto;
      }
    }

    .content-container-h2 {
    }

    .right-column {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      .scrapers-row {
      }

      .news-row {
      }

      .articles-row {
      }
    }
  }
}
