@use '../../../variables.scss' as *;

:host {
  height: 80vh;
  width: 100%;
  color: var(--main-color-dark);
  margin: 0rem 0rem;
  padding-left: 50vw;

  .episode-list-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .episode-list {
    height: 100%;
    width: 100%;
    padding: 0rem 16rem 16rem 0rem;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;

    gap: 2.4rem;

    .header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h1 {
        color: var(--main-color-dark);
      }
      
      .horizontal-seaprator-line {
        min-height: 0.24rem;
        width: 100%;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }

      .transition-horizontal-line {
        // max-width: 0rem;
      }
    }

    .season-episode-list {
      height: fit-content;
      min-height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0.4rem;

      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);

      border-radius: 1.6rem;

      overflow: hidden;

      padding: 0.8rem;
      z-index: 50;
    }
  }

  @media (min-width: 1000px) and (max-width: 1100px) {
    padding-left: 0rem;
    .episode-list {
      padding: 16rem;
      .season-episode-list {
      }
    }
  }
  @media (min-width: 900px) and (max-width: 1000px) {
    padding-left: 0rem;
    .episode-list {
      padding: 12rem;
      .season-episode-list {
      }
    }
  }
  @media (min-width: 760px) and (max-width: 900px) {
    padding-left: 0rem;
    .episode-list {
      padding: 8rem;
      .season-episode-list {
      }
    }
  }
  @media (min-width: 200px) and (max-width: 760px) {
    padding-left: 0rem;
    .episode-list {
      padding: 1.2rem;
      .season-episode-list {
      }
    }
  }
}
