@use '../../../variables.scss' as *;

:host {
  height: 80vh;
  width: 100%;
  color: var(--main-color-dark);
  margin: 0rem 0rem;
  padding-left: 50vw;

  .episode-list-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .episode-list {
    height: 100%;
    width: 100%;
    padding: 0rem 16rem 16rem 0rem;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;

    gap: 2.4rem;

    .season-episode-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0.4rem;

      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);

      border-radius: 1.6rem;

      padding: 0.8rem;
      z-index: 50;
    }
  }

  @media (min-width: 300px) and (max-width: 1100px) {
    padding-left: 0rem;
    .episode-list {
      padding: 16rem;
      .season-episode-list {
      }
    }
  }
}
