@use '../../../../variables.scss' as *;

:host {
  width: 100%;
  min-height: 4rem;
  height: auto;
  transition: all 0.6s var(--cubic-bezzier-a);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 1.2rem;
  overflow: hidden;

  .play-button {
    width: 0rem;
    height: 1.6rem;
    min-width: 0rem;
    min-height: 1.6rem;
    border-radius: 1.2rem;
    background-color: var(--main-color-dark-invisible);
    border: 1px solid var(--main-color-dark-invisible);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: inherit;

    .play-icon {
      background-color: var(--main-color-dark);
      width: 0rem;
      height: 3.2rem;
      min-width: 0rem;
      min-height: 3.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.8rem;
      transition: inherit;
      svg {
        height: 3.2rem;
        width: 3.2rem;
        transition: inherit;
        path {
          stroke: var(--main-color-light);
          transition: inherit;
        }
      }
    }
  }

  .actions {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    // gap: .24rem;

    opacity: 0;

    transition: inherit;
    border-radius: 1.2rem;
    padding: 0.4rem;

    background-color: var(--main-color-dark-invisible);
    border: 1px solid var(--main-color-dark-invisible);

    .button {
      height: 3.2rem;
      width: 3.2rem;
      min-width: 3.2rem;
      min-height: 3.2rem;

      border-radius: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: inherit;

      &:hover {
        scale: 1.1;
        transform: var(--transition-160);
      }

      .button-icon {
        height: 3.2rem;
        width: 3.2rem;

        opacity: 0.32;
        transition: inherit;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem;

        background-color: var(--main-color-dark-invisible);
        border: 1px solid var(--main-color-dark-invisible);

        svg {
          height: 2rem;
          width: 2rem;
          transition: var(--transition-24);
          path {
            stroke: var(--main-color-dark);
            stroke-width: 0.24rem;
            transition: var(--transition-24);
          }
        }

        &:hover {
          transition: inherit;
          background-color: var(--main-color-hover);
          border: 1px solid var(--main-color-dark-16);
          opacity: 1;

          cursor: pointer;

          svg {
            transition: var(--transition-24);

            path {
              stroke: var(--main-color-light-hover);
              transition: var(--transition-24);
            }
          }
        }
      }

      .edit {
        transition: inherit;
      }
    }
  }

  &:hover {
    .play-button {
      height: 4rem;
      width: 4rem;
      min-width: 4rem;
      min-height: 4rem;
      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);
      transition: inherit;
      cursor: pointer;
      .play-icon {
        background-color: var(--main-color-dark);
        transition: inherit;
        width: 3.2rem;
        min-width: 3.2rem;
        svg {
          height: 3.2rem;
          width: 3.2rem;
          transition: inherit;
          path {
            stroke: var(--main-color-light);
            transition: inherit;
          }
        }
      }

      &:hover {
        .play-icon {
          transition: var(--transition-24);
          background-color: var(--main-color-hover);
          cursor: pointer;
          box-shadow: var(--darker-shadow);
          scale: 1.1;
        }
      }
    }

    .episode-card-wrapper {
      transition: inherit;
      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);
      cursor: pointer;
      padding: 0.4rem 0.8rem 0.4rem 0.8rem;
      gap: 0.8rem;

      .episode-title {
        font-weight: 600;
      }

      .hover-bar {
        transition: inherit;
        min-width: 0.24rem;
      }
    }

    .actions {
      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);

      opacity: 1;
    }
  }
}

.episode-card-wrapper-main-view{
    padding: 0.4rem .4rem 0.4rem .4rem !important;
    
    &:hover{
      
      padding: 0.4rem .4rem 0.4rem 1.2rem !important;
    }
}

.episode-card-wrapper {
  width: 100%;
  height: 4rem;
  min-height: 4rem;
  border-radius: 1.2rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--main-color-dark-invisible);
  border: 1px solid var(--main-color-dark-invisible);
  transition: inherit;
  padding: 0.4rem 1.1rem 0.4rem 0rem;

  .hover-bar {
    height: 1.2rem;
    min-width: 0rem;
    background-color: var(--main-color-dark-hover);
    border-radius: 0.8rem;
    transition: inherit;
  }

  .episode-season {
    width: 1.1rem;
    min-width: 1.1rem;
  }

  .episode-no {
    width: 1.4rem;
    min-width: 1.4rem;
  }

  .episode-image {
    height: 2.4rem;
    width: 2.4rem;
    min-width: 2.4rem;
    min-height: 2.4rem;
    border-radius: 0.64rem;
    background-color: var(--main-color);
    transition: inherit;
  }

  .episode-title {
    height: 2.4rem;
    overflow: hidden;
    font-size: var(--font-size-regular);
    flex-grow: 1;
    max-width: 100%;
    font-weight: 600;
    width: 100%;
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 88%,
      rgba(0, 0, 0, 0) 100%
    );

    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: clip;
    transition: all 0.6s var(--cubic-bezzier-a);
  }

  .episode-title-main-view{
    height: 2.4rem;
    overflow: hidden;
    font-size: var(--font-size-regular);
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
    font-weight: 600;
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 88%,
      rgba(0, 0, 0, 0) 100%
    );

    // text-wrap: nowrap;
    // white-space: nowrap;
    text-overflow: clip;
    transition: all 0.6s var(--cubic-bezzier-a);
  }

  .separator-line {
    height: 1.2rem;
    width: 0.24rem;
    min-width: 0.24rem;
    background-color: var(--main-color-dark-32);
    transition: inherit;
    border-radius: 1rem;
  }

  .episode-author {
    min-width: 12.8rem;
    transition: inherit;
  }

  .episode-date {
    min-width: 8.8rem;
    transition: inherit;
  }

  .episode-sources-wrapper {
    transition: inherit;
  }

  .episode-status {
    width: 9.6rem;
    min-width: 9.6rem;
    transition: inherit;
    .false-flag {
      // width: auto;
      height: 3.2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: var(--main-color-dark-08);
      border: 1px solid var(--main-color-dark-16);
      border-radius: 0.8rem;

      padding: 0.2rem 0.8rem 0.2rem 0.2rem;
      transition: inherit;
      .icon-wrapper {
        height: 3.2rem;
        width: 3.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: inherit;
        svg {
          height: 2.2rem;
          width: 2.2rem;
          transition: inherit;
          path {
            stroke: var(--main-color-dark);
            stroke-width: 0.2rem;
            transition: inherit;
          }
        }
        p {
          font-size: 1.6rem;
          color: var(--main-color-dark);
          transition: inherit;
        }
      }
    }

    .posted-flag {
      // width: auto;
      height: 3.2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: var(--main-color-correct-16);
      border: 1px solid var(--main-color-correct-16);
      border-radius: 0.8rem;

      padding: 0.2rem 0.8rem 0.2rem 0.2rem;
      transition: inherit;
      .icon-wrapper {
        height: 3.2rem;
        width: 3.2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: inherit;

        .dot {
          height: 0.64rem;
          width: 0.64rem;
          background-color: var(--main-color-correct);
          border-radius: 0.8rem;
          box-shadow: 0rem 0rem 0rem 0.32rem var(--main-color-correct-16);
        }

        p {
          font-size: 1.6rem;
          color: var(--main-color-dark);
          transition: inherit;
        }
      }
    }
  }

  &:hover {
    transition: inherit;
    background-color: var(--main-color-dark-16);
    border: 1px solid var(--main-color-dark-16);
    cursor: pointer;
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;
    gap: 0.8rem;

    .episode-title {
      font-weight: 600;
    }

    .hover-bar {
      transition: inherit;
      min-width: 0.24rem;
    }
  }
}

.seasonStarter{
  background-color: var(--main-color-dark-08);
  border: 1px solid var(--main-color-dark-08);
  color: var(--main-color-dark-hover) !important;
  // background-color: red;
}