@use '../../../variables.scss' as *;

:host{
width: 100%;
height: 4rem;
}

.edit-bar-wrapper{
width: 100%;
height: 4rem;

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

background-color: var(--main-color-dark-16);
border: 1px solid var(--main-color-dark-16);

padding: .4rem;

border-radius: 1.2rem;

}