<div class="news-section">
  <div class="left-side">
    <div class="left-side-wrapper">
      <div class="latest-news-image">
        <div class="filter"></div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-wrapper">
      <div class="articles-list-header">
        <h2>latest climate news</h2>
        <!-- <div class="articles-list-header-line"></div> -->
      </div>
      <!-- <app-news-card cardType="medium"/> -->
      <app-news-card cardType="small" />
      <app-news-card cardType="small" />
      <app-news-card cardType="small" />
    </div>
  </div>
</div>
