@use '../../../variables.scss' as *;
:host {
  height: 100vh;
  width: 100%;
  // padding: 0.8rem;

  .news-section {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.4rem;
  }

  .left-side {
    height: 120px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 3.2rem;
    transition: var(--transition-160);

    .left-side-wrapper {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      overflow: hidden;
      // border-radius: 3.2rem;
      transition: var(--transition-160);
    }

    .latest-news-image {
      height: 100%;
      min-width: 1200px;
      min-height: 1200px;
      width: 100%;
      background-image: url('../../../../public/assets/article-illustration-1.jpg');
      background-size: cover; /* Ensures the image covers the entire div */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents the image from repeating */

      border-radius: 3.2rem;

      .filter {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.08) 100%);
        border-radius: 1.6rem;
      }
    }

    @media (min-width: 900px) and (max-width:1410px) {

        width: 80%;
      
    }
  }

  .right-side {
    height: 100%;
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    // background-color: rgba(255, 0, 0, 0.209);

    overflow: hidden;

    .right-side-wrapper {
      height: 100%;
      // background-color: rgba(255, 0, 0, 0.209);
      width: 72%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;

      // margin: 3.2rem 10rem;
      padding: 0.8rem;

      transition: var(--transition-160);

      // overflow: hidden;

      .header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
          color: var(--main-color-dark);
        }
      }

      .horizontal-seaprator-line {
        min-height: 0.24rem;
        width: 100%;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }

      .transition-horizontal-line {
        // max-width: 0rem;
      }
    }
  }

  @media (min-width: 300px) and (max-width: 1100px) {
    .left-side{
      display: none;
    }
    .right-side{
      width: 100%;

      .right-side-wrapper{
        
      }
    }
  }
}
