<div class="news-section">
  <div class="left-side">
    <div class="left-side-wrapper">
      <div class="latest-news-image">
        <div class="filter"></div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="right-side-wrapper">
      <div class="header">
        <h1 class="transition-A">Biggest News</h1>
        <div class="horizontal-seaprator-line transition-horizontal-line"></div>
      </div>
      <app-news-card cardType="{{ cardtype }}" [article]="articles[0]" />
      <div class="horizontal-seaprator-line transition-horizontal-line"></div>
      <app-news-card cardType="{{ cardtype }}" [article]="articles[1]" />
      <div class="horizontal-seaprator-line transition-horizontal-line"></div>
      <app-news-card cardType="{{ cardtype }}" [article]="articles[2]" />
    </div>
  </div>
</div>
