@use '../../variables.scss' as *;

:host {
  width: 100%;
}

.footer {
  height: 40vh;
  width: 100%;
  min-width: 100%;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12rem;
  padding: 4.8rem 8rem 1.6rem 8rem;

  border-radius: 3.2rem;

  .footer-left {
    padding-top: 1.3rem;
    width: 24%;
    @media (max-width: 876px) {
      width: 32%;
      .column {
        height: 100%;
        p:first-child {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 100%;
          order: 2;
          justify-self: flex-start;
        }
      }
    }
    @media (max-width: 548px) {
      width: 40%;
    }
    @media (max-width: 472px) {
      width: 100%;
      .column {
        height: 100%;
        justify-content: flex-start;
        p:first-child {
          order: 0;
        }
      }
    }
    
  }

  .footer-right {
    width: 76%;
    display: flex;
    flex-direction: row;
    gap: 6.4rem;
    // padding-right: 8rem;
    transition: var(--transition-160);

    .column:first-child {
      @media (max-width: 1272px) {
        width: 80%;
      }
      @media (max-width: 988px) {
        width: 64%;
      }
      @media (max-width: 876px) {
        width: 100%;
      }
    }
    .column:last-child {
      @media (max-width: 1272px) {
        width: 80%;
      }
      @media (max-width: 964px) {
        width: 72%;
      }
      @media (max-width: 876px) {
        width: 100%;
      }
    }

    .social-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: var(--transition-160);

      .social-icon-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
      }

      .open-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 0.8rem;
        height: 0.8rem;
        overflow: hidden;
        transition: var(--transition-160);
        svg {
          transform: translateX(1.6rem);
          width: 0.8rem;
          height: 0.8rem;
          transition: var(--transition-160);
          path {
            transition: var(--transition-160);
            stroke: var(--main-color);
            stroke-width: 0.24rem;
          }
        }
      }

      .social-icon {
        width: 2.4rem;
        height: 2.4rem;
        transition: var(--transition-160);

        svg {
          width: 2.4rem;
          height: 2.4rem;
          transition: var(--transition-160);
          path {
            fill: var(--main-color);
            transition: var(--transition-160);
          }
        }
      }

      .instagram {
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition-160);

        svg {
          width: 2rem;
          height: 2rem;
          transition: var(--transition-160);
        }
      }
      &:hover {
        cursor: pointer;
        transition: var(--transition-160);
        padding: 0rem 0.24rem;
        .social-icon-wrapper {
          transition: var(--transition-160);

          gap: 1.2rem;
        }

        p {
          text-decoration: underline;
        }

        .open-icon {
          width: 2rem;
          height: 2rem;
          transition: var(--transition-experiment);
          svg {
            transform: translateX(0rem);
            width: 2rem;
            height: 2rem;
            transition: var(--transition-experiment);
          }
        }
      }
    }

    .profile-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.8rem;
      transition: var(--transition-160);

      .separator-line-footer-social {
        height: 1.2rem;
        width: 0.2rem;
        background-color: var(--main-color-32);
        border-radius: 0.8rem;
      }

      .social-icons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 0.4rem;
        transition: var(--transition-160);

        .social-icon {
          width: 2rem;
          height: 2rem;
          transition: var(--transition-160);

          svg {
            width: 2rem;
            height: 2rem;
            transition: var(--transition-160);
            path {
              fill: var(--main-color);
              transition: var(--transition-160);
            }
          }
        }
      }
      &:hover {
        cursor: pointer;
        transition: var(--transition-160);
        padding: 0rem 0.24rem;

        .social-icons-wrapper {
          gap: 0.56rem;
        }
      }
    }

    .page {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transition: var(--transition-160);

      .page-icon-text-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
        transition: var(--transition-160);
      }

      .page-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2rem;
        height: 2rem;
        transition: var(--transition-160);
        svg {
          width: 2rem;
          height: 2rem;
          transition: var(--transition-160);
          path {
            stroke: var(--main-color);
            transition: var(--transition-160);
            stroke-width: 0.24rem;
          }
        }
      }

      .open-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 0.8rem;
        height: 0.8rem;
        overflow: hidden;
        transition: var(--transition-160);
        svg {
          transform: translateX(1.6rem);
          width: 0.8rem;
          height: 0.8rem;
          transition: var(--transition-160);
          path {
            transition: var(--transition-160);
            stroke: var(--main-color);
            stroke-width: 0.24rem;
          }
        }
      }

      &:hover {
        cursor: pointer;
        transition: var(--transition-160);
        padding: 0rem 0.24rem;
        .page-icon-text-wrapper {
          transition: var(--transition-160);

          gap: 1.2rem;
        }

        p {
          text-decoration: underline;
        }

        .open-icon {
          width: 2rem;
          height: 2rem;
          transition: var(--transition-experiment);
          svg {
            transform: translateX(0rem);
            width: 2rem;
            height: 2rem;
            transition: var(--transition-experiment);
          }
        }
      }
    }
    @media (max-width: 1146px) {
      gap: 4rem;
    }

    @media (max-width: 876px) {
      flex-direction: column;
      gap: 4rem;
      width: 50%;
    }
    @media (max-width: 472px) {
      flex-direction: column;
      gap: 4rem;
      width: 100%;
    }
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .separator-line-footer {
    width: 100%;
    height: 0.16rem;
    background-color: var(--main-color-32);
  }

  .title {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--main-color);
    opacity: 1;
  }

  p {
    color: var(--main-color-light);
    // opacity: 0.64;
  }

  @media (max-width: 1164px) {
    padding: 4rem 6.4rem 1.6rem 6.4rem;
  }
  @media (max-width: 1112px) {
    padding: 4rem 4rem 1.6rem 4rem;
  }
  @media (max-width: 1022px) {
    gap: 8rem;
  }
  @media (max-width: 916px) {
    padding: 2.4rem 2.4rem 1.6rem 2.4rem;
    gap: 4.8rem;
  }
  @media (max-width: 876px) {
    height: auto;
    gap: 4.8rem;
    padding: 4.8rem 8rem 6.4rem 4.8rem;
  }

  @media (max-width: 648px) {
    height: auto;
    gap: 4rem;
    padding: 3.2rem 5.6rem 4rem 3.2rem;
  }
  @media (max-width: 548px) {
    height: auto;
    gap: 2.4rem;
    padding: 2.4rem 3.2rem 3.2rem 2.4rem;
  }
  @media (max-width: 472px) {
    flex-direction: column;
    height: auto;
    gap: 2.4rem;
    padding: 2.4rem 2.4rem 3.2rem 2.4rem;
  }
}
