.main-view-container {
  height: auto;
  width: 100%;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;

  .article-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6rem;

    app-article {
      width: 32%;
    //   height: 200%;
    }
  }
}
