@use '../variables.scss' as *;
@use '../styles.scss' as *;

:host{
  background-color: var(--main-color-light);
  width: 100%;

  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 8rem;
  transition: var(--transition-8);
  position: relative;

  // Max and min values
  max-width: 100%;
  min-height: 100vh;

}


