# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node
/node_modules
npm-debug.log
yarn-error.log

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# files
.env