@use '../../../variables.scss' as *;

:host {
  height: auto;
  width: 100%;
}

.transition-A {
  overflow: hidden;
  height: 0rem;
  transform: translate(1.6rem, 3.2rem) skewX(-12deg) skewY(-6deg);
  opacity: 0;
  transition: var(--transition-160);
}

.transition-image {
  height: 0rem;
  max-height: 0rem;
  transition: var(--transition-160);
}

.transition-horizontal-line {
  width: 0rem;
  max-width: 0rem;
}

.transition-vertical-line {
  // height: 0rem;
  max-height: 0rem;
  transform: translateY(6.2rem);
}

#smooth-wrapper {
  #smooth-content {
    will-change: transform;
    gap: 1.6rem;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    // position: relative; /* All children are positioned relative to this */

    position: relative;
    padding: 0.8rem;
    border-radius: 3.2rem;
  }
}

.article-page-wrapper {
  margin-top: 8rem;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;

  padding: 0.8rem 32%;

  color: var(--main-color-dark);

  section {
    min-width: 56rem;
  }

  section.title {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 1.6rem;

    .title-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      gap: 1.6rem;
      .line-container {
        h1 {
          font-size: 6.4rem;
        }
      }
    }

    .image {
      width: 100%;
      height: 32rem;
      border-radius: 1.6rem;

      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100% !important;
      }
    }

    .article-details {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.8rem;

      font-size: 1.4rem;
      transition: var(--transition-160);

      .image-wrapper {
        height: 1.6rem;
        width: 1.6rem;

        img {
          height: 1.6rem;
          width: 1.6rem;
          border-radius: 1rem;
        }
      }

      .separator-line {
        height: 1.2rem;
        width: 0.18rem;
        background-color: var(--main-color-dark-64);
      }

      .date {
        opacity: 0.64;
      }

      .source {
        opacity: 0.64;
      }
    }
  }

  section.article-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.6rem;

    .article-text-header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h1 {
        font-size: 2.4rem;
        color: var(--main-color-dark);
      }

      .horizontal-seaprator-line {
        min-height: 0.24rem;
        width: 100%;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }
    }
    .article-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.6rem;
      .paragraph {
        height: auto;
      }
    }
  }

  .next-story {
    .article-text-header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h1 {
        font-size: 2.4rem;
        color: var(--main-color-dark);
      }

      .horizontal-seaprator-line {
        min-height: 0.24rem;
        width: 100%;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }
    }
  }
}
