.source {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 0.8rem;

  img {
    height: 1.6rem;
    width: 1.6rem;
    // background-image: url('../../../../../public/assets/article-illustration-1.jpg');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

    border-radius: 0.4rem;
  }

  .source-text {
    font-size: 1.6rem;
    opacity: 1;
    min-width: max-content;
  }
}

.image-wrapper {
  // width: 4rem;
  height: 3.2rem;
  padding: 0rem;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.6rem;
    width: 1.6rem;
    // background-image: url('../../../../../public/assets/article-illustration-1.jpg');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */

    border-radius: 0.4rem;
  }
}
