.source {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  gap: 0.8rem;

  img {
    height: 1.6rem;
    width: 1.6rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 0.4rem;
  }

  .source-text {
    font-size: 1.6rem;
    opacity: 1;
    min-width: max-content;
  }
}

.image-wrapper {
  height: 3.2rem;
  padding: 0rem;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.6rem;
    width: 1.6rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 0.4rem;
  }
}
