@use '../../../variables.scss' as *;

:host {
  width: 100%;
  height: 12.8rem;
}

.about-earth-wrapper{
  height: 12.8rem;
  width: 100%;
  overflow: hidden;
}

.about-earth-section {
  overflow: hidden;
  height: 12.8rem;
  width: 100%;
  background-color: var(--main-color-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2.2rem 6.4rem .8rem 6.4rem;
  gap: 6.4rem;

  // Max and min values
  // min-height: 100vh;
  max-width: 100vw;
  border-radius: 3.2rem;
  border: 1px solid var(--main-color-dark-hover);

  .separator-line {
    height: 100%;
    width: 0.16rem;
    background-color: #e9efd1;
    border-radius: 1rem;
  }

  .block {
    display: flex;
    // gap: 0.8rem;
    flex-direction: column;
    width: auto;

    .block-top-container{
      // font-size: 1.6rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      gap:1.6rem;

      svg{
        path{
          fill: var(--main-color)
        }
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--main-color-light);
        opacity: 0.8;
      }
    }

    p:last-child {
      font-size: 3.2rem;
      font-weight: bold;
      color: #e9efd1;
    }

    .separator-line-horizontal {
      width: 100%;
      height: 0.16rem;
      background-color: #e9efd1;
      border-radius: 1rem;
      opacity: 0.32;
    }
  }
}
