<div
  class="card-wrapper {{ cardType }} "
  [attr.data-card-type]="cardType"
  [attr.data-card-type]="cardDirection"
>
  @if (cardType === 'smallest') {
  <p>This is a large card.</p>
  } @if (cardType === 'small-no-image') {
  <div class="news-card-wrapper" (click)="navigateToArticlePage()">
    <div class="hovered-bar"></div>
    <div class="card-content">
      <div class="title-wrapper">
        <h2 class="title transition-A">{{ articlesGG[0].title }}</h2>
        <div class="title-icon">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.2728 15.173V26.3412C24.2728 27.0464 23.9926 27.7228 23.4939 28.2215C22.9953 28.7202 22.3189 29.0003 21.6136 29.0003H5.65909C4.95386 29.0003 4.27751 28.7202 3.77883 28.2215C3.28016 27.7228 3 27.0464 3 26.3412V10.3867C3 9.68141 3.28016 9.00504 3.77883 8.50641C4.27751 8.00773 4.95386 7.72754 5.65909 7.72754H16.8272"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M29.0003 11.2727V3H20.7275"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.5 18.5L29 3"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="article-details">
        @if(articlesGG[0].author == 'Sofia'){
        <app-profile-card class="transition-A" />
        }
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <p class="date transition-A">{{ articlesGG[0].date }}</p>
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <app-source class="transition-A" source="the guardian" />
      </div>
      <p class="abstract transition-A">{{ articlesGG[0].summary }}</p>
    </div>
  </div>
  }@else if (cardType === 'small') {
  <div class="news-card-wrapper" (click)="navigateToArticlePage()">
    <div class="card-image"></div>
    <div class="card-container">
      <div class="card-title-wrapper">
        <h1 class="card-title transition-A">this is an article title</h1>
        <div class="title-icon">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.2728 15.173V26.3412C24.2728 27.0464 23.9926 27.7228 23.4939 28.2215C22.9953 28.7202 22.3189 29.0003 21.6136 29.0003H5.65909C4.95386 29.0003 4.27751 28.7202 3.77883 28.2215C3.28016 27.7228 3 27.0464 3 26.3412V10.3867C3 9.68141 3.28016 9.00504 3.77883 8.50641C4.27751 8.00773 4.95386 7.72754 5.65909 7.72754H16.8272"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M29.0003 11.2727V3H20.7275"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.5 18.5L29 3"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="separator-line"></div>
      <p class="article-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam
      </p>
      <div class="card-details">
        <div class="card-date transition-A">03/11/2025</div>
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <app-profile-card class="transition-A" />
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <div class="sources class=transition-A">
          <p>Sources:</p>
          <app-source class="transition-A" source="the guardian" />
        </div>
      </div>
    </div>
  </div>
  } @else if (cardType === 'medium') {
  <p>This is a medium card.</p>
  } @else if (cardType === 'large') {
  <div class="news-card-wrapper" (click)="navigateToArticlePage()">
    <div class="hovered-bar"></div>
    <div class="image transition-image-A"></div>
    <div class="card-content">
      <div class="title-wrapper">
        <h2 class="title transition-A">{{ articlesGG[0].title }}</h2>
        <div class="title-icon">
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.2728 15.173V26.3412C24.2728 27.0464 23.9926 27.7228 23.4939 28.2215C22.9953 28.7202 22.3189 29.0003 21.6136 29.0003H5.65909C4.95386 29.0003 4.27751 28.7202 3.77883 28.2215C3.28016 27.7228 3 27.0464 3 26.3412V10.3867C3 9.68141 3.28016 9.00504 3.77883 8.50641C4.27751 8.00773 4.95386 7.72754 5.65909 7.72754H16.8272"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M29.0003 11.2727V3H20.7275"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.5 18.5L29 3"
              stroke="black"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="article-details">
        @if(articlesGG[0].author == 'Sofia'){
        <app-profile-card class="transition-A" />
        }
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <p class="date transition-A">{{ articlesGG[0].date }}</p>
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <app-source class="transition-A" source="the guardian" />
      </div>
      <p class="abstract transition-A">{{ articlesGG[0].summary }}</p>
    </div>
  </div>
  } @else if (cardType === 'extra-large') {
  <p>This is a large card.</p>
  }@else if (cardType === 'hero-card') {
  <div class="news-card-wrapper  {{ cardDirection }}" (click)="navigateToArticlePage()">
    <div class="hovered-bar"></div>
    <!-- <div class="image-wrapper"></div> -->
    <div class="image transition-image"></div>
    <div class="content">
      <h1 class="title transition-A">{{ articlesGG[0].title }}</h1>
      <div class="article-details">
        @if(articlesGG[0].author == 'Sofia'){
        <app-profile-card class="transition-A" />
        }
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <p class="date transition-A">{{ articlesGG[0].date }}</p>
        <div class="separator-line transition-vertical-line-inside-card"></div>
        <app-source class="transition-A" source="the guardian" />
      </div>
      <p class="abstract transition-A">{{ articlesGG[0].summary }}</p>
    </div>
  </div>
  }@else if(cardType === 'admin-small'){
  <div class="admin-card-wrapper {{ cardDirection }}">
    <div class="hovered-bar"></div>
    <div class="app-source-wrapper">
      <app-source class="app-source" source="the guardian" />
    </div>
    <div class="separator-line"></div>
    <h2 class="title">{{ article.title }}</h2>
    <div class="separator-line"></div>
    <div class="author-card-wrapper">
      <!-- Pass the author in this component -->
      <!-- @if(article.author == 'Sofia'){ -->
       <p class="author">{{article.author}}</p>
      <!-- <app-profile-card class="app-profile-card" /> -->
      <!-- } -->
    </div>
    <div class="separator-line"></div>
    <p class="date">{{ article.date }}</p>
  </div>

  } @else if(cardType === 'admin-medium'){ } @else {
  <p>Unknown card type: {{ cardType }}</p>
  }
</div>