<div id="smooth-wrapper">
  <div id="smooth-content">
    <!-- <div class="main"> -->
    <div class="text-container" data-speed="0.1">
      <div class="hero-text">
        <div class="line-container">
          <h1 class="hero-h1">Benvenuto</h1>
          <h1 class="episodes-text-h1">Check Out</h1>
          <h1 class="latest-news-h1">This is</h1>
        </div>
        <div class="line-container">
          <h1 class="hero-h1">A Capire</h1>
          <h1 class="episodes-text-h1">Our latest</h1>
          <h1 class="latest-news-h1">An Example</h1>
        </div>
        <div class="line-container">
          <h1 class="hero-h1">La Terra</h1>
          <h1 class="episodes-text-h1">Episodes</h1>
          <h1 class="latest-news-h1">Of a Title</h1>
        </div>
      </div>
    </div>
    <div class="background {{changeanimation}}">
      <div class="image">
        <!-- <h1 data-speed="1.1">Benvenuto a capire la terra</h1> -->
        <div class="black-filter"></div>
        <img
          ngSrc="assets/background_filters/layer_1.png"
          fill
          priority
          data-speed="3.2"
          alt="parallax fade in filter"
          class="bottom-fade-filter"
        />
        <img
          ngSrc="assets/background_webp/layer_10.webp"
          fill
          priority
          data-speed="0.1"
          alt="Layer 10"
        />
        <img
          ngSrc="assets/background_webp/layer_9.webp"
          fill
          priority
          data-speed="0.2"
          alt="Layer 9"
        />
        <img
          ngSrc="assets/background_webp/layer_8.webp"
          fill
          priority
          data-speed="0.3"
          alt="Layer 8"
        />
        <img
          ngSrc="assets/background_webp/layer_7.webp"
          fill
          priority
          data-speed="0.4"
          alt="Layer 7"
        />
        <img
          ngSrc="assets/background_webp/layer_6.webp"
          fill
          priority
          data-speed="0.5"
          alt="Layer 6"
        />
        <img
          ngSrc="assets/background_webp/layer_5.webp"
          fill
          priority
          data-speed="0.6"
          alt="Layer 5"
        />
        <img
          ngSrc="assets/background_webp/layer_4.webp"
          fill
          priority
          data-speed="0.7"
          alt="Layer 4"
        />
        <img
          ngSrc="assets/background_webp/layer_3.webp"
          fill
          priority
          data-speed="0.8"
          alt="Layer 3"
        />
        <img
          ngSrc="assets/background_webp/layer_2.webp"
          fill
          priority
          data-speed="1"
          alt="Layer 2"
        />
        <img
          ngSrc="assets/background_webp/layer_1.webp"
          fill
          priority
          data-speed="1.4"
          alt="Layer 1"
        />
      </div>
    </div>
    <!-- <div class="vanish-layer" data-speed="1.9"></div> -->
    <div class="scroll-trigger-a"></div>
    <div class="scroll-trigger-b"></div>
    <div class="scroll-trigger-c"></div>
    <div class="scroll-trigger-d"></div>
    <div class="scroll-trigger-e"></div>
    <div class="snap-element-a"></div>
    <div class="content" data-speed="1.2">
      <app-episodes-list-component />
      <div class="episodes-section">
        <div class="episodes-sub-section">
          <h1 class="episodes-sub-section-title">
            Check out the latest episodes of Capire la Terra
          </h1>
          <div class="episodes-sub-section-bottom-content">
            <p class="episodes-sub-section-text">
              Each wednesday we post new episodes. Until now, we have created a total of
              <b class="episodes-sub-section-bolded">32</b> episodes. Don't miss out on the next
              ones
            </p>
          </div>
        </div>
        <div class="episodes-separator-line"></div>
        <div class="episodes-sub-section">
          <div class="season-selector-container">
            <div class="season">Season 1</div>
            <div class="season">Season 2</div>
            <div class="season">Season 3</div>
            <div class="selector"></div>
          </div>
          <div class="episode-list">
            <div class="episode-list-season">
              @for (episode of episodes; track episode.id) {

              <div class="episode">
                <img
                  ngSrc="assets/episode_placeholder.png"
                  height="128"
                  width="128"
                  alt="episode_image"
                  class="episode-image"
                />
                <div class="episode-content">
                  <h3 class="episode-title">{{ episode.name }}</h3>
                  <div class="episode-separator-line"></div>
                  <div class="episode-date">
                    <p class="episode-date-text">16-03-2021</p>
                    <div class="episode-date-separator-line"></div>
                    <p class="episode-date-text">3:21 minutes</p>
                  </div>
                  <p class="episode-description">{{ episode.description }}</p>
                  <!-- <button class="episode-button">play episode</button> -->
                </div>
              </div>
              } @empty {
              <li>There are no episodes.</li>
              }
            </div>
            <div class="episode-list-season">
              @for (episode of episodes; track episode.id) {

              <div class="episode">
                <img
                  ngSrc="assets/episode_placeholder.png"
                  height="128"
                  width="128"
                  alt="episode_image"
                  class="episode-image"
                />
                <div class="episode-content">
                  <h3 class="episode-title">{{ episode.name }}</h3>
                  <div class="episode-date">
                    <p class="episode-date-text">16-03-2021</p>
                    <div class="episode-date-separator-line"></div>
                    <p class="episode-date-text">3:21 minutes</p>
                  </div>
                  <p class="episode-description">{{ episode.description }}</p>
                  <button class="episode-button">play episode</button>
                </div>
              </div>
              } @empty {
              <li>There are no episodes.</li>
              }
            </div>
            <div class="episode-list-season">
              @for (episode of episodes; track episode.id) {

              <div class="episode">
                <img
                  ngSrc="assets/episode_placeholder.png"
                  height="128"
                  width="128"
                  alt="episode_image"
                  class="episode-image"
                />
                <div class="episode-content">
                  <h3 class="episode-title">{{ episode.name }}</h3>
                  <div class="episode-date">
                    <p class="episode-date-text">16-03-2021</p>
                    <div class="episode-date-separator-line"></div>
                    <p class="episode-date-text">3:21 minutes</p>
                  </div>
                  <p class="episode-description">{{ episode.description }}</p>
                  <button class="episode-button">play episode</button>
                </div>
              </div>
              } @empty {
              <li>There are no episodes.</li>
              }
            </div>
          </div>
        </div>
      </div>

      <!--  UNDENEATH HERE --- NOT FINAL -->
      <!-- <div class="section">
          <div class="section-side">
            <h1 class="header-title">Check out the latest episodes of Capire la Terra</h1>
            <ul>
              <li>Season 1</li>
              <li>Season 2</li>
              <li>Season 3</li>
            </ul>
          </div>
          <div class="separator-line"></div>
          <div class="section-side">
            <div class="episode-list">
  
              @for (episode of episodes; track episode.id) {

              <div class="episode">
             

                <img
                  ngSrc="assets/episode_placeholder.png"
                  height="128"
                  width="128"
                  alt="episode_1 image"
                />
                <div class="episode-content">
                  <h3>{{ episode.name }}</h3>
                  <p>{{ episode.description }}</p>
                  <button>play episode</button>
                </div>
              </div>
              } @empty {
              <li>There are no items.</li>
              }
             
            </div>
          </div>
        </div>
        <div class="section-b" data-speed="0" data-scroll-container>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
          <div class="section-b-content"></div>
        </div>
      </div> -->
      <div class="about-earth-section">
        <div class="block">
          <p>Degrees above pre industrial level</p>
          <div class="separator-line-horizontal"></div>
          <p>1.52</p>
        </div>
        <div class="separator-line"></div>

        <div class="block">
          <p>Sea-level rise</p>
          <div class="separator-line-horizontal"></div>
          <p>12 cm</p>
        </div>
        <div class="separator-line"></div>
        <div class="block">
          <p>CO2 released in the atmosphere</p>
          <div class="separator-line-horizontal"></div>
          <p>93.5 Gt</p>
        </div>
        <div class="separator-line"></div>
        <div class="block">
          <p>Ice sheet size</p>
          <div class="separator-line-horizontal"></div>
          <p>-23%</p>
        </div>
      </div>

      <div class="news-section">
        <div class="news-section-left">
          <!-- No need for an image if having a background image on the div -->
          <!-- <img
              src="assets/article-illustration-1.jpg"
              alt="episode_image"
              class="bakcground_image"
            /> -->

          <div class="text-overlay">
            <p class="text">This is a title</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </p>
            <div class="details-row">
              <p>Sofia Lutteri</p>
              <p>25-09-2025</p>
              <p>www.iuvrbeaivberb.com</p>
            </div>
          </div>
        </div>
        <div class="news-section-right">
          <h1>Latest climate news</h1>
          <div class="separator-line"></div>
          <div class="latest-news-list">
            <div class="column">
              @for (article of articles; track article.id){
              <div class="news-article">
                <p class="title">{{ article.title }}</p>
                <div class="article-meta-details">
                  <p class="meta-details-author">{{ article.author }}</p>
                  <p class="meta-details-date">{{ article.date }}</p>
                  <div class="meta-details-source">
                    <div class="source-image"></div>
                    <p>
                      {{ article.source }}
                    </p>
                    <svg
                      width="32"
                      height="32"
                      viewBox="0 0 32 32"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M24 14V25.5C24 25.8283 23.9353 26.1534 23.8097 26.4567C23.6841 26.76 23.4999 27.0356 23.2678 27.2678C23.0356 27.4999 22.76 27.6841 22.4567 27.8097C22.1534 27.9353 21.8283 28 21.5 28H6.5C5.83696 28 5.20107 27.7366 4.73223 27.2678C4.26339 26.7989 4 26.163 4 25.5V10.5C4 9.83696 4.26339 9.20107 4.73223 8.73223C5.20107 8.26339 5.83696 8 6.5 8H16.9675"
                        stroke="black"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M21 4H28V11"
                        stroke="black"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14 18L27.5 4.5"
                        stroke="black"
                        stroke-width="1.6"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
                <p class="description">
                  {{ article.summary }}
                </p>
              </div>
              }
            </div>
            <!-- <div class="articles-separator-line"></div> -->

            <!-- <div class="column">
                @for (article of articles; track article.id){
                <div class="news-article">
                  <p class="title">{{ article.title }}</p>
                  <p class="description">
                    {{ article.summary }}
                  </p>
                
                </div>
                }
              </div> -->
          </div>
        </div>
      </div>
      <app-footer />
    </div>
    <!-- </div> -->
  </div>
</div>
