:host {
  height: auto;
  width: 100%;

  // Max and min values
  min-height: 100%;
  // max-width:100vw;
  // overflow-y: scroll;
  // display: block; /* Make sure the host element fills the space */
}

.on-destroy-test{
  opacity: 0;
  transition: .32s ease-out;
}

#smooth-wrapper {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  height: 100vh;

  // Max and min values
  min-height: 100%;
  overflow: hidden;
  // max-width: 100vw;
  // overflow: hidden; /* This is key for ScrollSmoother */
  #smooth-content {
    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: auto;
    // width: 90vw;

    padding: 0.8rem;

    // Max and min values
    min-height: 100%;
    // max-width: 100vw;
  }
}

.main {
  // Ensure this has enough height to enable scrolling
  // height: auto;
  // overflow-y: scroll;

  // position: relative; /* All children are positioned relative to this */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  // background-color: #e9efd1;

  // Max and min values
  min-height: 100%;
  // max-width: 100vw;
}

.text-container {
  position: fixed;
  top: 40vh;
  left: 4vw;
  padding: 8rem 8rem 0rem 8rem;
  transition: 0.64s ease-out;

  .hero-text {
    transition: 0.16s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .line-container {
    height: 12rem;
    transition: 0.64s ease-out;
    // overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  h1 {
    overflow: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 8rem;
    transition: 0.64s ease-out;
  }

  .hero-h1 {
    height: 12rem;
    width: 464px;
  }

  .episodes-text-h1 {
    height: 0rem;
    width: 0rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color-dark);
  }

  .latest-news-h1 {
    height: 0rem;
    width: 0rem;
    transform: skewX(-32deg) skewY(-8deg);
  }
}

.background {
  // padding: 0.8rem;
  width: 100%;
  // height: calc(100vh - 0.8rem);
  height: 100vh;
  z-index: -3;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  overflow: hidden;
  // position: absolute;
  // top: 0;
  border-radius: 2rem;

  // Max-values
  max-width: 100%;

  .image {
    // border-radius: 1.6rem;
    width: 100%;
    height: calc(100vh - 1.6rem);
    position: relative; // All images inside are positioned absolutely
    overflow: hidden;
    border-radius: 2rem;
    background-color: #5cabb4;
  }

  img {
    position: absolute; // Stack images on top of each other
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    object-fit: fit;
    will-change: transform; // Good place to use will-change
    border-radius: 2rem;
  }

  .bottom-fade-filter {
    // Could delete
    // background-color: rgba(255, 0, 0, 0.508);
    z-index: 1 !important;
    height: auto !important;
    top: 0vh !important;
    // background-color: rgba(255, 0, 0, 0.205) !important;
  }

  // Repositioning images to offset the scroll speed from GSAP

  img:nth-of-type(2) {
    top: 3rem !important;
  }

  img:nth-of-type(3) {
    top: 2rem !important;
  }
  img:nth-of-type(4) {
    top: 1rem !important;
  }

  @for $i from 2 through 11 {
    img:nth-of-type(#{$i}) {
      // rotate: calc(#{$i} * 2deg);
      top: calc(#{$i} * -2.4px) !important;
      transform: translateY(calc(#{$i} * 0.24rem));
    }
  }

  h1 {
    position: absolute;
    // top: 32vh;
    bottom: 0rem;
    left: 4rem;
    width: 40rem;
    z-index: 3;
    // --font-family: 'Climate Crisis', sans-serif;
    font-size: 10rem;
    color: #e9efd1;
    line-height: 1.4;
  }

  .black-filter {
    z-index: 2;
    position: absolute; // Stack images on top of each other
    top: 0;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    will-change: transform; // Good place to use will-change
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

// image {
//   width: 100vw;
//   height: 100vh;
//   display: grid;
//   position: relative;
// }

// img {
//   height: 100vh;
//   width: 100vw;
//   grid-column: 1;
//   grid-row: 1;
//   position: absolute;
//   object-fit: fit;
//   will-change: transform;
// }

.vanish-layer {
  position: absolute;
  top: 48vw;
  background-color: #e9efd1;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.scroll-trigger-a {
  position: absolute;
  background-color: #cfb732;
  height: 50px;
  width: 50px;
  right: 3.2rem;
  top: 8vh;
  pointer-events: none;
  z-index: 20;
}
.scroll-trigger-b {
  position: absolute;
  background-color: #b931be;
  height: 50px;
  width: 50px;
  right: 3.2rem;
  top: 56vh;
  pointer-events: none;
  z-index: 20;
}

.scroll-trigger-c {
  position: absolute;
  background-color: #1c3d9e;
  height: 50px;
  width: 50px;
  right: 3.2rem;
  top: 72vh;
  pointer-events: none;
  z-index: 20;
}

.scroll-trigger-d {
  position: absolute;
  background-color: #1c939e;
  height: 50px;
  width: 50px;
  right: 3.2rem;
  top: 118vh;
  pointer-events: none;
  z-index: 20;
}

.scroll-trigger-e {
  position: absolute;
  background-color: #9e1c54;
  height: 50px;
  width: 50px;
  right: 3.2rem;
  top: 164vh;
  pointer-events: none;
  z-index: 20;
}

.snap-element-a {
  position: absolute;
  background-color: red;
  height: 50px;
  width: 50px;
  right: 3.2rem;
  pointer-events: none;
  top: 128vh;
}

.content {
  // Flex
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;

  height: auto; /* Give your content a height to allow for scrolling */
  // width: calc(100% - 4rem);
  width: 100%;
  // background: #e9efd1; /* Example background */
  z-index: 1;
  // padding: 1.8rem;
  // box-shadow: 0px 8px 24px #0e3c0740;
  border-radius: 2rem;
  // position: absolute;
  // top: 100vh;

  // Max and min values
  min-height: 100vh;
  max-width: 100vw;

  .episodes-section {
    width: 100%;
    height: 88vh;
    // box-shadow: 0rem 0rem 0rem 0.32rem #e9efd180, 0rem 0.2rem 3.2rem #0e3c0724;
    padding: 1.6rem;

    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    color: #484209;

    .episodes-sub-section {
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.6rem;

      // Max and min values
      min-height: 100vh;
      max-width: 100vw;

      .episodes-sub-section-title {
        font-size: 8rem;
      }

      .episodes-sub-section-text {
        width: 80%;
      }

      .episodes-sub-section-bolded {
      }
    }

    .episodes-separator-line {
      height: 100%;
      min-width: 0.32rem;
      background-color: #323d0632;
      border-radius: 0.8rem;
    }

    .episodes-sub-section:first-child {
      padding: 0rem 3.2rem;
    }
    .episodes-sub-section:last-child {
      padding: 0rem 1.6rem;
    }

    .episode-list {
      // background-color: #0e3c0716;
      // border-radius: 1.6rem;
      // border: 0.16rem solid #0e3c0716;

      padding: 0.8rem;
      height: 100%;
      width: 100%;
      max-width: 48vw;

      overflow: hidden;

      display: flex;
      flex-direction: row;
      gap: 3.2rem;

      .episode-list-season {
        width: 100%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        max-width: 100%;

        overflow-y: scroll;
        padding-right: 3.2rem;
      }

      .episode-list-season::-webkit-scrollbar {
        height: 1.2rem;
        width: 1.2rem;
      }

      /* Track (background) */
      .episode-list-season::-webkit-scrollbar-track {
        background: #dee9b5;
        border-radius: 6px;
      }

      /* Handle (thumb) */
      .episode-list-season::-webkit-scrollbar-thumb {
        background: #b6e00b; /* Gray thumb */
        border-radius: 6px; /* Rounded corners */
        width: 2.4px;
        border: 0.24rem solid #dee9b5; /* Adds padding around the thumb */
      }

      /* Handle on hover */
      .episode-list-season::-webkit-scrollbar-thumb:hover {
        background: #b6e00b; /* Darker gray on hover */
      }

      .episode {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        max-height: 14.4rem;
        width: 100%;
        padding: 0.8rem;
        border-radius: 2.4rem;

        .episode-image {
          height: 128px;
          width: 128px;
          border-radius: 1.6rem;
        }

        .episode-content {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 0rem;

          padding: 0.64rem;

          .episode-separator-line {
            width: 100%;
            min-height: 0.24rem;
            background-color: #0e3c0724;
          }

          .episode-date {
            display: flex;
            flex-direction: row;
            gap: 0.8rem;
            justify-content: flex-start;
            align-items: center;
          }

          .episode-date-separator-line {
            height: 1.2rem;
            min-width: 0.32rem;
            background-color: #0e3c0732;
            border-radius: 0.8rem;
          }

          .episode-title {
          }
          .episode-description {
            max-height: 100%;
            max-width: 100%;
            overflow: hidden;
            font-size: 1.4rem;
            line-height: 1.2;
            box-shadow: inset 0 -4px 8px #e9efd1;
            position: relative;
          }

          .episode-description::after {
            content: '';
            position: absolute;
            bottom: -1.6rem;
            left: -3.2rem;
            height: 2.4rem;
            width: 100%;
            background-color: #e9efd1;
            filter: blur(0.8rem);
          }
          .episode-description::before {
            content: '';
            position: absolute;
            bottom: -1.6rem;
            left: -3.2rem;
            height: 2.4rem;
            width: 100%;
            background-color: #e9efd1;
            filter: blur(0.8rem);
          }
          .episode-button {
            height: 3.2rem;
            width: 8rem;
            padding: 0.8rem;
          }
          // .episode {
          //       display: flex;
          //       max-height: 12.8rem;
          //       gap: 2.4rem;
          //       // z-index: 5;

          //       img {
          //         width: 128px;
          //         height: 128px;
          //         border-radius: 1.6rem;
          //       }
          //       .episode-content {
          //         height: 100%;
          //         display: flex;
          //         flex-direction: column;
          //         justify-content: space-between;
          //         align-items: start;
          //         gap: 0.8rem;

          //         p {
          //           font-size: 1.6rem !important;
          //           max-height: 100%;
          //           overflow: hidden;
          //         }
          //       }
        }
      }

      .episode:hover {
        background-color: #272c0916;
        transition: 0.08s ease-out;
        cursor: pointer;
      }
    }

    .season-selector-container {
      width: auto;
      max-width: 48vw;
      height: 4rem;
      min-height: 4rem;

      display: flex;
      flex-direction: row;

      justify-content: flex-start;
      align-items: center;
      gap: 0.24rem;
      padding: 0.4rem;
      background-color: #0e3c0716;
      border-radius: 1.6rem;
      border: 0.16rem solid #0e3c0716;

      position: relative;

      .season {
        height: 3.2rem;
        width: 8rem;
        display: flex;
        flex-direction: row;
        // background-color: #e9efd1;

        justify-content: center;
        align-items: center;
        z-index: 4;
      }
      .season:first-child {
        height: 3.2rem;
        width: 8rem;
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        z-index: 4;
        color: #e9efd1 !important;
      }

      .selector {
        position: absolute;
        left: 0.24rem;
        height: 3.2rem;
        width: 8.4rem;
        background-color: #484209;
        border-radius: 1.2rem;
        z-index: -1;
      }

      .season:hover {
        // height: 3.2rem;
        // width: 8.4rem;
        background-color: #48420916;
        border-radius: 1.2rem;
        z-index: -1;
      }

      .season:hover > .selector {
        // height: 3.2rem;
        // position: absolute;
        // left: 12rem;
        transform: translateX(32px);
        z-index: -2;
      }

      .season:nth-child(1):active > .selector {
        // height: 3.2rem;
        // width: 8.4rem;
        left: calc(0.24rem + 8rem);
        background-color: #48420916;
        border-radius: 1.2rem;
        z-index: -1;
      }
    }
  }

  .about-earth-section {
    height: auto;
    width: 100%;
    background-color: #272c09;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 12.8rem 1.6rem 12.8rem;
    gap: 6.4rem;

    // Max and min values
    // min-height: 100vh;
    max-width: 100vw;

    .separator-line {
      height: 100%;
      width: 0.16rem;
      background-color: #e9efd1;
      border-radius: 1rem;
    }

    .block {
      display: flex;
      gap: 0.8rem;
      flex-direction: column;
      width: 100%;

      p:first-child {
        font-size: 1.6rem;
        color: #e9efd1;
        opacity: 0.8;
      }
      p:last-child {
        font-size: 3.2rem;
        font-weight: bold;
        color: #e9efd1;
      }

      .separator-line-horizontal {
        width: 100%;
        height: 0.16rem;
        background-color: #e9efd1;
        border-radius: 1rem;
        opacity: 0.32;
      }
    }
  }

  .news-section {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 2.4rem;

    gap: 1.6rem;

    // Max and min values
    min-height: 100vh;
    max-width: 100vw;

    .news-section-left {
      height: 100%;
      width: 100%;
      background-color: #ff000016;
      // position: relative;
      border-radius: 1.6rem;
      overflow: hidden;
      background-image: url('../../../public/assets/article-illustration-1.jpg');
      background-size: cover; /* Ensures the image covers the entire div */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents the image from repeating */

      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0.8rem;

      img {
        height: 100%;
        width: 100%;
      }

      .text-overlay {
        // position: absolute;

        background-color: #e9efd1;
        height: auto;
        width: 50%;
        border-radius: 0.8rem;
        padding: 0.8rem;

        .details-row {
          display: flex;
          flex-direction: row;
          gap: 0.8rem;
          opacity: 0.56;
        }

        .text {
          font-size: 8rem;
          font-weight: bold;
          width: 100%;
          color: #272c09;
        }

        p {
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }

    .news-section-right {
      height: 100%;
      width: 100%;
      background-color: #272c0904;
      border: 1px solid #272c0908;
      position: relative;
      border-radius: 1.6rem;
      overflow: hidden;

      padding: 5.6rem 8rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .separator-line {
        width: 100%;
        background-color: #272c0916;
        height: 0.16rem;
        border-radius: 0.8rem;
      }

      .latest-news-list {
        display: flex;
        flex-direction: row;
        gap: 3.2rem;
      }

      .column {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
      }

      .articles-separator-line {
        height: 100%;
        width: 0.16rem;
        background-color: #272c0916;
        border-radius: 0.8rem;
      }

      .news-article {
        .title {
          font-size: 2.4rem;
          color: #272c09;
        }

        .article-meta-details {
          display: flex;
          flex-direction: row;
          gap: 0.8rem;
          opacity: 0.56;
          .meta-details-author {
            font-size: 1.4rem;
          }
          .meta-details-date {
            font-size: 1.4rem;
          }
          .meta-details-source {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.8rem;
            .source-image {
              height: 1.6rem;
              width: 1.6rem;
              background-color: #859e21;
              border-radius: 0.24rem;
            }

            p {
              font-size: 1.4rem;
            }

            svg {
              height: 1.6rem;
              width: 1.6rem;
              padding-bottom: 0.16rem;

              path {
                stroke-width: 0.24rem;
              }
            }
          }
        }
      }
    }
  }
}
