@use '../../../variables.scss' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100%;
  max-width: 100%;
}

.main-view-wrapper {
  width: 100%;
  // height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 0.8rem;

  .header-container {
    margin-bottom: 1.6rem;
  }

  .filter-row {
    width: 100%;
    max-width: 100%;
    height: 2.4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 1.1rem;
    transition: var(--transition-160);

    .desc {
      transition: var(--transition-32);
      transform: scaleY(1);
    }

    .asc {
      transition: var(--transition-32);
      transform: scaleY(-1);
    }

    .sort-active {
      background-color: var(--main-color-dark-16);
      border: 1px solid var(--main-color-dark-16);
      transition: var(--transition-160);
      border-radius: 0.8rem;
      padding-left: 0.8rem;

      p {
        color: var(--main-color-dark-hover);
      }

      .chevron-icon {
        height: 1.6rem;
        width: 2.4rem;
        transition: var(--transition-experiment);

        svg {
          path {
            // stroke: var(--main-color-dark);
            stroke: var(--main-color-dark-hover);
          }
        }
      }

      &:hover {
        cursor: pointer;

        .chevron-icon {
          opacity: 1;
        }
      }
    }

    .sort-inactive {
      transition: var(--transition-160);
      .chevron-icon {
        overflow: hidden;
        width: 0rem;
        transition: var(--transition-experiment);
      }

      &:hover {
        cursor: pointer;
        background-color: var(--main-color-dark-08);
        border: 1px solid var(--main-color-dark-16);
        padding-left: 0.64rem;
        gap: 0.2rem;

        .chevron-icon {
          overflow: hidden;
          width: 2.4rem;
          transition: var(--transition-experiment);
          opacity: 0.32;
        }
      }
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      background-color: var(--main-color-dark-invisible);
      border: 1px solid var(--main-color-dark-invisible);
      border-radius: 0.8rem;

      gap: 0.4rem;
      transition: var(--transition-160);

      .chevron-icon {
        height: 1.6rem;
        width: 2.4rem;
        transition: var(--transiiton-24);

        svg {
          padding-top: 0.08rem;
          transition: var(--transiiton-24);

          path {
            // stroke: var(--main-color-dark);
            stroke: var(--main-color-dark);
            transition: var(--transiiton-24);
            stroke-width: 0.24rem;
          }
        }
      }
    }

    .filter-separator-line {
      height: 1.2rem;
      width: 0.24rem;
      min-width: 0.24rem;
      background-color: var(--main-color-dark-64);
      border-radius: 1rem;
    }

    .filter-section-active {
      min-width: 11.6rem;
      width: 11.6rem;
      border-radius: 0.8rem;
      margin-left: .4rem;
      // pointer-events: none;
    }

    .filter-section-name {
      min-width: 14.7rem;
      width: 14.7rem;
      margin-right: 0.2rem;
      border-radius: 0.8rem;
    }

    .filter-section-url {
      min-width: 64%;
      width: 64%;
      border-radius: 0.8rem;
    }

    .active {
      opacity: 1;
    }

    .inactive {
      opacity: 0.32;
    }
  }

  .separator-line {
    height: 0.16rem;
    min-height: 0.16rem;
    width: 100%;
    background-color: var(--main-color-dark-32);
    border-radius: 1rem;
  }

  .content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.24rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* Scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--main-color-dark-hover) var(--main-color-dark-invisible); /* For Firefox */
  position: relative;
}

/* WebKit scrollbar */
.content-container::-webkit-scrollbar {
  width: 0.5rem; /* Set a width for the scrollbar */
  position: absolute;
}

/* Track */
.content-container::-webkit-scrollbar-track {
  background-color: var(--main-color-dark-08);
  border-radius: 1rem; /* This may not always be visible */
}

/* Thumb */
.content-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color-hover);
  border-radius: 1rem; /* This will work */
  opacity: 0.5;
}

/* Hover effect for the thumb */
.content-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-dark-hover);
  opacity: 1;
}
}
