@use '../../../../variables.scss' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100%;
  max-width: 100%;
}

.news-article-view-wrapper {
  width: 100%;
  // height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 0.8rem;

  .header-container {
    margin-bottom: 1.6rem;
  }

  .edit-container-wrapper {
    width: 100%;
    height: 4rem;
  }

  section.article-body {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    padding: 1.6rem;

    overflow-y: scroll;

    header.news-article-header {
      width: 56rem;
      min-width: 56rem;

      .article-title {
        margin: 3.2rem 0rem;
      }

      .news-article-details {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;

        .separator-line {
          height: 1.2rem;
          min-width: 0.24rem;
          background-color: var(--main-color-dark-32);
          border-radius: 1rem;
        }

        .app-article-wrapper{
            min-width: auto;
        }

        .date {
            min-width: 8.8rem;
        }

        .author {
            overflow: hidden;
          font-size: var(--font-size-regular);
          flex-grow: 1;
          max-width: 100%;
          width: 100%;
          mask-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 88%,
            rgba(0, 0, 0, 0) 100%
          );

          text-wrap: nowrap;
          white-space: nowrap;
          text-overflow: clip;
          transition: all 0.6s var(--cubic-bezzier-a);
        }
      }
    }

    .second-header {
      width: 56rem;
      min-width: 56rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.8rem;
      padding: 0.8rem 0rem;

      h1 {
        font-size: 2.4rem;
      }

      .horizontal-separator-line {
        height: 0.24rem;
        width: 100%;
        background-color: var(--main-color-dark-32);
        border-radius: 1rem;
      }
    }

    .article-text-wrapper {
      width: 56rem;
      min-width: 56rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.6rem;
    }

    section.next-article-section {
      height: 32rem;

      width: 56rem;
      min-width: 56rem;
      min-height: 32rem;
      //   background-color: var(--main-color-dark-32);
      border-radius: 1.6rem;

      margin: 3.2rem 0rem;
    }
  }
}
