:host {
  height: auto;
  width: 100%;
}

#smooth-wrapper {
  #smooth-content {
    will-change: transform;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    height: 100vh;
    overflow: hidden;
    // position: relative; /* All children are positioned relative to this */
    justify-content: flex-start;
    position: relative;
    padding: 12.8rem 20vw 0.8rem 20vw;
    // background-color: #e9efd1;
  }
}

.seasons-container {
  padding: 0rem;
  width: 9.6rem;
  height: auto;
  //   position: sticky;
  //   top: 8rem;
  //   left: 20vw;

  h1 {
    font-size: 2rem;
    color: #323d06;
    padding-left: 0.4rem;
  }

  .season-list {
    background-color: #323d0608;
    border: 1px solid #323d0616;
    border-radius: 1.2rem;
    width: 9.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.4rem 0rem;
    position: relative;

    .season-selector {
      height: 3.2rem;
      background-color: #a7ca1c;
      border-radius: 0.8rem;

      width: 8.8rem;
      position: absolute;

      z-index: 9;
      transition: 0.16s ease-out;
    }

    .on-s1 {
      top: 0.4rem;
      transition: 0.16s ease-out;
    }
    .on-s2 {
      top: 4rem;
      transition: 0.16s ease-out;
    }
    .on-s3 {
      top: 7.7rem;
      transition: 0.16s ease-out;
    }

    .seactive {
      opacity: 1 !important;
    }

    .season {
      height: 3.2rem;
      width: 8.8rem;
      background-color: #323d0600;
      border-radius: 0.8rem;
      opacity: 0.32;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.24s ease-out;
      z-index: 10;
    }

    .season:hover {
      background-color: #a7ca1c32;
      color: #5e710f;
      transition: 0.24s ease-out;
      cursor: pointer;
      opacity: 1;
      //   height: 3.4rem;
    }
  }
}

.separator-line {
  height: 100%;
  width: 0.16rem;
  background-color: #323d0616;
  border-radius: 0.8rem;
}

.play-button {
  height: 4rem;
  width: 4rem;
  background-color: #323d06;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.32s ease-out;

  svg {
    transition: all 0.32s ease-out;
    path {
      stroke: #e9efd1 !important;
      transition: all 0.32s ease-out;
    }
  }
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1.6rem;
  padding: 0.8rem 1.2rem;
  background-color: #323d0608;
  box-shadow: 1px solid #323d0616;
  border-radius: 1.2rem;
  width: 100%;
}

.track-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.4rem;

  .timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1.4rem;
    opacity: 0.64;
  }
}

.episodes-container {
  width: 100%;
  display: flex;
  height: 80vh;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: scroll;
  padding-right: .8rem;

  

  .season-hero {
    // height: 50vh !important;
    width: 100%;
    background-image: url('../../../public/assets/article-illustration-1.jpg');
    background-size: cover; /* Options: contain, cover, auto, 50% */
    background-position: center; /* Options: top, bottom, left, right, center */
    background-repeat: no-repeat; /* Options: repeat, repeat-x, repeat-y, no-repeat */
    border-radius: 1.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: end;

    padding: 24vh 0.4rem 0.4rem 0.4rem;

    h1 {
      font-size: 3.2rem;
      color: #323d06;
      padding-left: 0.4rem;
      height: 4rem;
    }

    .content {
      background-color: #e9efd1;
      border-radius: 1.2rem;
      padding: 0.4rem 0.8rem 0.8rem 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .episode-separator-line {
        width: 100%;
        height: 0.16rem;
        background-color: #323d0632;
        border-radius: 0.8rem;
      }

      .top-container {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
      }

      .details {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.8rem;
        opacity: 0.64;

        .separator-line {
          height: 1.2rem;
          width: 0.16rem;
          background-color: #323d0664;
          border-radius: 0.8rem;
        }
      }

      //   .track {
      //     display: flex;
      //     flex-direction: row;
      //     align-items: center;
      //     justify-content: space-between;
      //     // gap: 0.2rem;
      //     // padding: 0.8rem 0rem;

      //     .line-a {
      //       height: 0.4rem;
      //       width: 0.16rem;
      //       background-color: #323d0664;
      //       border-radius: 0.8rem;
      //     }
      //     .line-b {
      //       height: 0.8rem;
      //       width: 0.14rem;
      //       background-color: #323d0664;
      //       border-radius: 0.8rem;
      //     }
      //     .line-c {
      //       height: 1.2rem;
      //       width: 0.14rem;
      //       background-color: #323d0664;
      //       border-radius: 0.8rem;
      //     }
      //     .line-d {
      //       height: 1.6rem;
      //       width: 0.14rem;
      //       background-color: #323d0664;
      //       border-radius: 0.8rem;
      //     }
      //   }
    }
  }

  .episode {
    // background-color: #323d0608;
    border-radius: 1.6rem;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    padding: 0.8rem;
    transition: 0.32s all ease-out;

    .top-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0rem;
    }

    .episode-content {
      width: 100%;
      padding-right: 0.8rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .episode-title {
      font-size: 2.4rem;
      color: #323d06;
      transition: 0.32s all ease-out;
    }

    .episode-separator-line {
      width: 100%;
      height: 0.16rem;
      background-color: #323d0632;
      border-radius: 0.8rem;
      transition: 0.32s all ease-out;
    }

    img {
      border-radius: 1.2rem;
    }

    .episode-description {
      height: 4.8rem;
      font-size: 1.4rem;
      overflow: hidden;
    }

    .episode-details {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0.8rem;
      opacity: 0.64;
      transition: 0.32s all ease-out;
    }

    .separator-line {
      height: 1.2rem;
      width: 0.16rem;
      background-color: #323d0664;
      border-radius: 0.8rem;
      transition: 0.32s all ease-out;
    }
  }

  .episode:hover {
    background-color: #323d0616;
    transition: 0.32s all ease-out;
    cursor: pointer;
    padding: 1.2rem;

    .episode-details {
      opacity: 1;
      color: #374305;
      transition: 0.32s all ease-out;
    }

    .episode-title {
      color: #5e710f;
      transition: 0.32s all ease-out;
    }

    .episode-separator-line {
      transition: 0.32s all ease-out;
      background-color: #5e710f;
    }

    .separator-line {
      transition: 0.32s all ease-out;
      width: 0.16rem;
      background-color: #5e710f;
    }
  }
}

.episodes-container::-webkit-scrollbar {
    height: 1.2rem;
    width: 1.2rem;
  }

  /* Track (background) */
  .episodes-container::-webkit-scrollbar-track {
    background: #dee9b5;
    border-radius: 6px;
  }

  /* Handle (thumb) */
  .episodes-container::-webkit-scrollbar-thumb {
    background: #b6e00b; /* Gray thumb */
    border-radius: 6px; /* Rounded corners */
    width: 2.4px;
    border: 0.24rem solid #dee9b5; /* Adds padding around the thumb */
  }

  /* Handle on hover */
  .episodes-container::-webkit-scrollbar-thumb:hover {
    background: #b6e00b; /* Darker gray on hover */
  }
