@use '../variables.scss' as *;
@use '../styles.scss' as *;

:host{
  background-color: var(--main-color-light);
  width: 100vw;

  height: auto;
  display: flex;
  flex-direction: column;
  // Max value
  max-width: 100vw;
  // overflow-x: hidden;
  border-radius: 8rem;
  transition: var(--transition-8);
  position: relative;
}

.router-outlet{
  opacity: .32;
}

// .main-wrapper {
//   // Ensure this has enough height to enable scrolling
//   height: auto;
//   background-color: #e9efd1;
//   position: relative;

//   // display: flex;
//   // flex-direction: row;
// }

// app-audio-player {
//   z-index: 10;
//   position: fixed;
//   bottom: 1.6rem;
// }
