.track {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // gap: 0.2rem;
        // padding: 0.8rem 0rem;

        .line-a {
          height: 0.4rem;
          width: 0.16rem;
          background-color: #323d0664;
          border-radius: 0.8rem;
        }
        .line-b {
          height: 0.8rem;
          width: 0.14rem;
          background-color: #323d0664;
          border-radius: 0.8rem;
        }
        .line-c {
          height: 1.2rem;
          width: 0.14rem;
          background-color: #323d0664;
          border-radius: 0.8rem;
        }
        .line-d {
          height: 1.6rem;
          width: 0.14rem;
          background-color: #323d0664;
          border-radius: 0.8rem;
        }
      }