h1 {
  font-size: 6rem;
  z-index: 1;
  color: #253107;
  text-shadow: #05080064 1rem 1.6rem 4rem;
  margin: 24rem 16vw 4rem 16vw;
  width: 100%;
}

p {
  font-size: 3.2rem;
  z-index: 1;
  color: #253107;
  text-shadow: #05080064 1rem 1.6rem 4rem;
  margin: 2rem 16vw;
  width: 100%;
}
