footer{
    background-color: #262804;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 3.2rem 24rem;

    .copywright{
        font-weight: 400;
        color: #cdd716;
    }
    
    .content{
        display:flex;
        flex-direction: column;
        gap: .8rem;
        color: #cdd716;
    }
}