@use '../../../variables.scss' as *;

:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100%;
  max-width: 100%;
}

.main-view-wrapper {
  width: 100%;
  // height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  gap: 0.8rem;

  .header-container {
    margin-bottom: 1.6rem;
  }

  .filter-row {
    width: 100%;
    height: 2.4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 1.1rem;

    div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      gap: 0.4rem;

      .chevron-icon {
        height: 1.6rem;
        width: 2.4rem;

        svg {
          padding-top: 0.08rem;

          path {
            // stroke: var(--main-color-dark);
            stroke: var(--main-color-dark);
            stroke-width: 0.24rem;
          }
        }
      }
    }

    .filter-separator-line {
      height: 1.2rem;
      width: 0.24rem;
      min-width: 0.24rem;
      background-color: var(--main-color-dark-64);
      border-radius: 1rem;
    }

    .filter-section-news-outlet {
      width: 12.8rem;
      min-width: 12.8rem;
      margin-left: 1.4rem;
    }

    .filter-section-title {
      width: 100%;
    }

    .filter-section-author {
      min-width: 12.8rem;
      width: 12.8rem;
      margin-right: 0.2rem;
    }

    .filter-section-date {
      min-width: 9rem;
      //   width: 8.8rem;
    }

    .active {
      opacity: 1;
    }

    .inactive {
      opacity: 0.32;
    }
  }

  .separator-line {
    height: 0.16rem;
    min-height: 0.16rem;
    width: 100%;
    background-color: var(--main-color-dark-32);
    border-radius: 1rem;
  }

  .content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.24rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* Scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--main-color-dark-hover) var(--main-color-dark-invisible); /* For Firefox */
  position: relative;
}

/* WebKit scrollbar */
.content-container::-webkit-scrollbar {
  width: 0.5rem; /* Set a width for the scrollbar */
  position: absolute;
}

/* Track */
.content-container::-webkit-scrollbar-track {
  background-color: var(--main-color-dark-08);
  border-radius: 1rem; /* This may not always be visible */
}

/* Thumb */
.content-container::-webkit-scrollbar-thumb {
  background-color: var(--main-color-hover);
  border-radius: 1rem; /* This will work */
  opacity: 0.5;
}

/* Hover effect for the thumb */
.content-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-dark-hover);
  opacity: 1;
}
}
