@use '../../../../variables.scss' as *;
:host {
  // width: auto;
  position: relative;
  transition: var(--transition-08);
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  overflow: hidden;
  transition: var(--transition-08);

  div {
    transition: var(--transition-08);
  }

  .line-wrapper {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    transition: var(--transition-08);

    .line-a {
      height: 0.4rem;
      width: 100%;
      background-color: #323d0664;
      border-radius: 0.8rem;
    }

    .line-b {
      height: 0.8rem;
      width: 100%;
      background-color: #323d0664;
      border-radius: 0.8rem;
    }

    .line-c {
      height: 1.2rem;
      width: 100%;
      background-color: #323d0664;
      border-radius: 0.8rem;
    }

    .line-d {
      height: 1.6rem;
      width: 100%;
      background-color: #323d0664;
      border-radius: 0.8rem;
    }
  }

  .line-wrapper:hover {
    cursor: pointer;
    transition: var(--transition-08);

    div {
      background-color: var(--main-color-dark);
      height: 100%;
      transition: var(--transition-08);
    }
  }
}

.hoverer {
  position: absolute;
  bottom: 0rem;
  opacity: 0;
  pointer-events: none;

  width: auto;
  height: 2.8rem;
  padding: 0rem 0.8rem;
  background-color: var(--main-color);
  border: 1px solid var(--main-color-dark-16);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;

  transition: var(--transition-08);

  backdrop-filter: blur(0.4rem);

  p{
    color: var(--main-color-dark);
  }
}

:host:hover > .hoverer {
  bottom: 4rem;
  opacity: 1;
  transition: var(--transition-08);
}
