@use '../../variables.scss' as *;

:host{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    color: var(--main-color-dark);
    
}