.news-view-container {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.6rem;

  app-article {
    width: 32%;
  }
}
