div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    form{
        display: flex;
        flex-direction: column;
        gap: .8rem;

        width: 40rem;
        input{
            border: 1px solid #323232;
        }
    }
}