<div id="smooth-wrapper">
  <div id="smooth-content">
    <div class="episodes-page-wrapper">
      @if (viewportWidth > 1100) {
        <!-- <div class="season-3-scroll-trigger"></div>
        <div class="season-2-scroll-trigger"></div>
        <div class="season-1-scroll-trigger"></div> -->
        <div class="text-container" data-speed="0.01">
          <div class="hero-text">
            <div class="line-container">
              <h1 class="hero-h1-A">Guarda</h1>
            </div>
            <div class="line-container">
              <h1 class="hero-h1-A">gli episodi</h1>
            </div>
            <div class="line-container-wrapper">
              <div class="line-container ln-A">
                <h1 class="hero-h1-A ln-A">della</h1>
              </div>
              <div class="header-dropdown">
                <div class="line-container" id="seasonComponent" #seasonComponent>
                  <h1 class="season-h1">3ª</h1>
                  <h1 class="season-h1">2ª</h1>
                  <h1 class="season-h1">1ª</h1>
                </div>
              </div>
            </div>
            <div class="line-container">
              <h1 class="hero-h1-A">stagione</h1>
            </div>
          </div>
        </div>
      }
      @if (viewportWidth <= 1100) {
      <div class="header">
        <h1 class="transition-A">Latest Episodes</h1>
        <div class="horizontal-seaprator-line transition-horizontal-line"></div>
      </div>
    }
      <div class="episodes-list">
        @for (episode of episodes; track episode._id) {
          @if (episode.number === 1) {
            <app-episode-card
              #largeCard
              class="episode-wrapper"
              cardType="large"
              [episode]="episode"
            />
          } @else {
            <app-episode-card class="episode-wrapper" cardType="medium" [episode]="episode" />
          }
        }
      </div>
    </div>
    <app-footer #footer/>
  </div>
</div>
