@use '../../variables.scss' as *;

:host {
  height: auto;
  width: 100%;
}

#smooth-wrapper {
  #smooth-content {
    // background-color: red;
    height: auto;
    min-height: 100vh;

    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24vh;
    overflow: hidden;

    padding: 0.8rem;
    @media (max-width: 1100px) {
      gap: 20vh;
    }
    @media (max-width: 672px) {
      gap: 0rem;
    }
  }
}

.episodes-page-wrapper {
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  // background-color: #c9393932;
  padding: 16rem 10vw 4rem 0rem;
  transition: var(--transition-160);

  @media screen and (min-width: 1500px) {
    padding: 16rem 10vw 4rem 0rem;
  }

  /* Media query for tablets */
  @media screen and (min-width: 1300px) and (max-width: 1500px) {
    padding: 16rem 8vw 4rem 0rem;
  }
  @media screen and (min-width: 1100px) and (max-width: 1300px) {
    padding: 16rem 4vw 4rem 0rem;
  }
  @media (max-width: 1100px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4rem;
    padding: 12rem 16rem 4rem 16rem;
  }
  @media (max-width: 1000px) {
    width: 100%;
    padding: 12rem 12rem 4rem 12rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 900px) {
    width: 100%;
    padding: 12rem 8rem 4rem 8rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 760px) {
    width: 100%;
    padding: 12rem 1.2rem 4rem 1.2rem;
    // margin: 8vh 0rem 8vh 50%;
  }
}

// .season-1-scroll-trigger {
//   position: absolute;
//   background-color: #31be5b;
//   height: 50px;
//   width: auto;
//   right: 3.2rem;
//   top: 40vh;
//   pointer-events: none;
//   z-index: 20;

//   padding: 0.8rem;
//   color: var(--main-color-dark);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 0;
// }

// .season-2-scroll-trigger {
//   position: absolute;
//   background-color: #b931be;
//   height: 50px;
//   width: auto;
//   right: 3.2rem;
//   top: 50vh;
//   pointer-events: none;
//   z-index: 20;

//   padding: 0.8rem;
//   color: var(--main-color-dark);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 0;
// }

// .season-3-scroll-trigger {
//   position: absolute;
//   background-color: #3133be;
//   height: 50px;
//   width: auto;
//   right: 3.2rem;
//   top: 64vh;
//   pointer-events: none;
//   z-index: 20;

//   padding: 0.8rem;
//   color: var(--main-color-dark);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 0;
// }

.text-container {
  // position: fixed;
  position: absolute;
  top: 32vh;
  left: 4vw;
  padding: 0rem 0rem 0rem 8rem;
  transition: var(--transition-160);
  z-index: 8;

  .hero-text {
    transition: 0.16s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .line-container {
    // width: 100%;
    height: 12rem;
    transition: 0.64s ease-out;
    // overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .ln-A {
    width: auto !important;
    margin-right: 4rem;
  }

  .line-container-icon {
    // width: 100%;
    height: 12rem;
    transition: var(--transition-experiment);
    // overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    .icon {
      transition: var(--transition-experiment);
      svg {
        transition: 0.64s ease-out;
        path {
          transition: 0.64s ease-out;
          stroke: var(--main-color);
          stroke-width: 0.8rem;
        }
      }
    }
  }

  .line-container-wrapper {
    // width: 50rem;
    height: 12rem;
    transition: 0.64s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .header-dropdown {
    // width: 13rem !important;
    height: 0rem;
    transition: 0.64s ease-out;
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    gap: 1.6rem;
    padding: 0rem 2.4rem 0rem 2.4rem;
    transform: skewX(-32deg) skewY(-8deg);
    transition: var(--transition-160);
    z-index: 20;

    .line-container {
    }
  }

  .hero-h1-A {
    overflow: hidden;
    white-space: nowrap;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color-dark);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);
  }

  .hero-h1-B {
    overflow: hidden;
    white-space: nowrap;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color-dark);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);
  }

  .hero-h1A {
    overflow: hidden;
    white-space: nowrap;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color-dark);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);
  }

  .season-h1 {
    // overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);

    &:hover {
      cursor: pointer;
      color: var(--main-color-light);
      padding-left: 1.2rem;
    }
  }

  @media (max-width: 1338px) {
    scale: 0.9 !important;
    left: 0vw;
  }
  @media (max-width: 1200px) {
    scale: 0.82 !important;
  }
  @media (max-width: 1160px) {
    scale: 0.82 !important;
    left: -2.4vw;
  }
  @media (max-width: 1120px) {
    scale: 0.82 !important;
    left: -3.2vw;
  }
}

.episodes-list {
  height: 0rem;
  min-height: 0rem;
  opacity: 0;
  width: 60rem;
  color: var(--main-color-dark);

  background-color: var(--main-color-dark-16);
  border: 1px solid var(--main-color-dark-16);
  border-radius: 2rem;
  padding: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.8rem;
  transition: var(--transition-160);

  // margin: 8vh 12rem 8vh 50%;

  @media screen and (min-width: 1500px) {
    // margin: 8vh 0rem 8vh 50%;
    width: 60rem;
    // margin: 8vh 0rem 8vh 50%;
  }

  /* Media query for tablets */
  @media screen and (min-width: 1300px) and (max-width: 1500px) {
    width: 52rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media screen and (min-width: 1100px) and (max-width: 1300px) {
    width: 48rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 1100px) {
    width: 100%;
    margin: 0rem 16rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 1000px) {
    width: 100%;
    margin: 0rem 12rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 900px) {
    width: 100%;
    margin: 0rem 8rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 760px) {
    width: 100%;
    margin: 0rem 1.2rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media (max-width: 672px) {
    width: 100%;
    margin: 0rem 0rem;
    // margin: 8vh 0rem 8vh 50%;
  }
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;

  h1 {
    // height: 0rem;
    // width: 0rem;
    color: var(--main-color-dark);
    transform: skewX(-32deg) skewY(-8deg) translateY(-5.6rem);
  }

  .horizontal-seaprator-line {
    min-height: 0.24rem;
    width: 0rem;
    background-color: var(--main-color-dark-32);
    border-radius: 1rem;
  }

  .transition-horizontal-line {
    // max-width: 0rem;
  }
}
