@use '../../variables.scss' as *;

:host {
  height: auto;
  width: 100%;
}

#smooth-wrapper {
  #smooth-content {
    height: auto;
    min-height: 100vh;

    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.6rem;
    overflow: hidden;
  }
}

.episodes-page-wrapper {
  height: auto;
  min-height: 100vh;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  // background-color: #c9393932;
  padding: 16rem 10vw 4rem 0rem;
  transition: var(--transition-160);

  @media screen and (min-width: 1500px) {
    padding: 16rem 10vw 4rem 0rem;
  }

  /* Media query for tablets */
  @media screen and (min-width: 1300px) and (max-width: 1500px) {
    padding: 16rem 8vw 4rem 0rem;
  }
  @media screen and (min-width: 800px) and (max-width: 1300px) {
    padding: 16rem 4vw 4rem 0rem;
  }
}

.season-1-scroll-trigger {
  position: absolute;
  background-color: #31be5b;
  height: 50px;
  width: auto;
  right: 3.2rem;
  top: 40vh;
  pointer-events: none;
  z-index: 20;

  padding: 0.8rem;
  color: var(--main-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-2-scroll-trigger {
  position: absolute;
  background-color: #b931be;
  height: 50px;
  width: auto;
  right: 3.2rem;
  top: 50vh;
  pointer-events: none;
  z-index: 20;

  padding: 0.8rem;
  color: var(--main-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-3-scroll-trigger {
  position: absolute;
  background-color: #3133be;
  height: 50px;
  width: auto;
  right: 3.2rem;
  top: 64vh;
  pointer-events: none;
  z-index: 20;

  padding: 0.8rem;
  color: var(--main-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  // position: fixed;
  position: absolute;
  top: 32vh;
  left: 4vw;
  padding: 0rem 0rem 0rem 8rem;
  transition: var(--transition-160);
  z-index: 8;

  .hero-text {
    transition: 0.16s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .line-container {
    // width: 100%;
    height: 12rem;
    transition: 0.64s ease-out;
    // overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .ln-A {
    width: auto !important;
  }

  .line-container-icon {
    // width: 100%;
    height: 12rem;
    transition: var(--transition-experiment);
    // overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    .icon {
      transition: var(--transition-experiment);
      svg {
        transition: 0.64s ease-out;
        path {
          transition: 0.64s ease-out;
          stroke: var(--main-color);
          stroke-width: 0.8rem;
        }
      }
    }
  }

  .line-container-wrapper {
    // width: 50rem;
    height: 12rem;
    transition: 0.64s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .header-dropdown {
    // width: 13rem !important;
    height: 0rem;
    transition: 0.64s ease-out;
    background-color: var(--main-color-dark);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    gap: 1.6rem;
    padding: 0rem 4rem 0rem 2.4rem;
    transform: skewX(-32deg) skewY(-8deg);
    transition: var(--transition-160);
    z-index: 20;

    .line-container {
    }

    // &:hover {
    //   // transform: translateY(12rem) !important;
    //   // background-color: #31be5b;
    //   // background-color: var(--main-color-hover);
    //   height: 38rem !important;
    //   visibility: visible;
    //   transition: var(--transition-160);
    //   transform: translateY(0rem) !important;
    //   background-color: red;

    //   .line-container {
    //   }

    //   .line-container-icon{
    //     transition: var(--transition-experiment);
    //     .icon{
    //       transition: var(--transition-experiment);
    //       transform: scaleY(-1) translateY(.4rem);
    //     }
    //   }
    // }

    // &:after{
    //   position: absolute;
    //   top: 10rem;
    //   left: 0;
    //   content: '';
    //   background-color: red;
    //   height: 24rem;
    //   width: 100%;

    // }

  }

  .hero-h1 {
    overflow: hidden;
    white-space: nowrap;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color-dark);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);
  }

  .hero-h1A {
    overflow: hidden;
    white-space: nowrap;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color-dark);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);
  }

  .season-h1 {
    // overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 8rem;
    transform: skewX(-32deg) skewY(-8deg);
    color: var(--main-color);
    height: 0rem;
    width: auto;
    transition: var(--transition-160);

    &:hover {
      cursor: pointer;
      color: var(--main-color-light);
      padding-left: 1.2rem;
    }
  }
}

.episodes-list {
  height: 0rem;
  min-height: 0rem;
  opacity: 0;
  width: 60rem;
  color: var(--main-color-dark);

  background-color: var(--main-color-dark-16);
  border: 1px solid var(--main-color-dark-16);
  border-radius: 2rem;
  padding: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  transition: var(--transition-160);

  // margin: 8vh 12rem 8vh 50%;

  @media screen and (min-width: 1500px) {
    // margin: 8vh 0rem 8vh 50%;
    width: 60rem;
    // margin: 8vh 0rem 8vh 50%;
  }

  /* Media query for tablets */
  @media screen and (min-width: 1300px) and (max-width: 1500px) {
    width: 52rem;
    // margin: 8vh 0rem 8vh 50%;
  }
  @media screen and (min-width: 800px) and (max-width: 1300px) {
    width: 48rem;
    // margin: 8vh 0rem 8vh 50%;
  }
}

// OLD Page

// #smooth-content {
//   .seasons-container {
//     padding: 0rem;
//     width: 9.6rem;
//     height: auto;
//     //   position: sticky;
//     //   top: 8rem;
//     //   left: 20vw;

//     h1 {
//       font-size: 2rem;
//       color: #323d06;
//       padding-left: 0.4rem;
//     }

//     .season-list {
//       background-color: #323d0608;
//       border: 1px solid #323d0616;
//       border-radius: 1.2rem;
//       width: 9.6rem;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       gap: 0.4rem;
//       padding: 0.4rem 0rem;
//       position: relative;

//       .season-selector {
//         height: 3.2rem;
//         background-color: #a7ca1c;
//         border-radius: 0.8rem;

//         width: 8.8rem;
//         position: absolute;

//         z-index: 9;
//         transition: 0.16s ease-out;
//       }

//       .on-s1 {
//         top: 0.4rem;
//         transition: 0.16s ease-out;
//       }
//       .on-s2 {
//         top: 4rem;
//         transition: 0.16s ease-out;
//       }
//       .on-s3 {
//         top: 7.7rem;
//         transition: 0.16s ease-out;
//       }

//       .seactive {
//         opacity: 1 !important;
//       }

//       .season {
//         height: 3.2rem;
//         width: 8.8rem;
//         background-color: #323d0600;
//         border-radius: 0.8rem;
//         opacity: 0.32;

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         transition: 0.24s ease-out;
//         z-index: 10;
//       }

//       .season:hover {
//         background-color: #a7ca1c32;
//         color: #5e710f;
//         transition: 0.24s ease-out;
//         cursor: pointer;
//         opacity: 1;
//         //   height: 3.4rem;
//       }
//     }
//   }

//   .separator-line {
//     height: 100%;
//     width: 0.16rem;
//     background-color: #323d0616;
//     border-radius: 0.8rem;
//   }

//   .play-button {
//     height: 4rem;
//     width: 4rem;
//     background-color: #323d06;
//     border-radius: 0.8rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     transition: all 0.32s ease-out;

//     svg {
//       transition: all 0.32s ease-out;
//       path {
//         stroke: #e9efd1 !important;
//         transition: all 0.32s ease-out;
//       }
//     }
//   }

//   .controls {
//     display: flex;
//     flex-direction: row;
//     align-items: flex-end;
//     justify-content: space-between;
//     gap: 1.6rem;
//     padding: 0.8rem 1.2rem;
//     background-color: #323d0608;
//     box-shadow: 1px solid #323d0616;
//     border-radius: 1.2rem;
//     width: 100%;
//   }

//   .track-container {
//     display: flex;
//     width: 100%;
//     flex-direction: column;
//     gap: 0.4rem;

//     .timer {
//       display: flex;
//       flex-direction: row;
//       justify-content: space-between;

//       font-size: 1.4rem;
//       opacity: 0.64;
//     }
//   }

//   .episodes-container {
//     width: 100%;
//     display: flex;
//     height: 80vh;
//     flex-direction: column;
//     gap: 0.8rem;
//     overflow-y: scroll;
//     padding-right: 0.8rem;

//     .season-hero {
//       // height: 50vh !important;
//       width: 100%;
//       background-image: url('../../../public/assets/article-illustration-1.jpg');
//       background-size: cover; /* Options: contain, cover, auto, 50% */
//       background-position: center; /* Options: top, bottom, left, right, center */
//       background-repeat: no-repeat; /* Options: repeat, repeat-x, repeat-y, no-repeat */
//       border-radius: 1.6rem;
//       display: flex;
//       justify-content: flex-start;
//       align-items: end;

//       padding: 24vh 0.4rem 0.4rem 0.4rem;

//       h1 {
//         font-size: 3.2rem;
//         color: #323d06;
//         padding-left: 0.4rem;
//         height: 4rem;
//       }

//       .content {
//         background-color: #e9efd1;
//         border-radius: 1.2rem;
//         padding: 0.4rem 0.8rem 0.8rem 0.8rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         .episode-separator-line {
//           width: 100%;
//           height: 0.16rem;
//           background-color: #323d0632;
//           border-radius: 0.8rem;
//         }

//         .top-container {
//           display: flex;
//           flex-direction: column;
//           gap: 0.4rem;
//         }

//         .details {
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           gap: 0.8rem;
//           opacity: 0.64;

//           .separator-line {
//             height: 1.2rem;
//             width: 0.16rem;
//             background-color: #323d0664;
//             border-radius: 0.8rem;
//           }
//         }

//         //   .track {
//         //     display: flex;
//         //     flex-direction: row;
//         //     align-items: center;
//         //     justify-content: space-between;
//         //     // gap: 0.2rem;
//         //     // padding: 0.8rem 0rem;

//         //     .line-a {
//         //       height: 0.4rem;
//         //       width: 0.16rem;
//         //       background-color: #323d0664;
//         //       border-radius: 0.8rem;
//         //     }
//         //     .line-b {
//         //       height: 0.8rem;
//         //       width: 0.14rem;
//         //       background-color: #323d0664;
//         //       border-radius: 0.8rem;
//         //     }
//         //     .line-c {
//         //       height: 1.2rem;
//         //       width: 0.14rem;
//         //       background-color: #323d0664;
//         //       border-radius: 0.8rem;
//         //     }
//         //     .line-d {
//         //       height: 1.6rem;
//         //       width: 0.14rem;
//         //       background-color: #323d0664;
//         //       border-radius: 0.8rem;
//         //     }
//         //   }
//       }
//     }

//     .episode {
//       // background-color: #323d0608;
//       border-radius: 1.6rem;
//       display: flex;
//       flex-direction: row;
//       gap: 1.6rem;
//       padding: 0.8rem;
//       transition: 0.32s all ease-out;

//       .top-container {
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         gap: 0rem;
//       }

//       .episode-content {
//         width: 100%;
//         padding-right: 0.8rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//       }

//       .episode-title {
//         font-size: 2.4rem;
//         color: #323d06;
//         transition: 0.32s all ease-out;
//       }

//       .episode-separator-line {
//         width: 100%;
//         height: 0.16rem;
//         background-color: #323d0632;
//         border-radius: 0.8rem;
//         transition: 0.32s all ease-out;
//       }

//       img {
//         border-radius: 1.2rem;
//       }

//       .episode-description {
//         height: 4.8rem;
//         font-size: 1.4rem;
//         overflow: hidden;
//       }

//       .episode-details {
//         display: flex;
//         align-items: center;
//         flex-direction: row;
//         gap: 0.8rem;
//         opacity: 0.64;
//         transition: 0.32s all ease-out;
//       }

//       .separator-line {
//         height: 1.2rem;
//         width: 0.16rem;
//         background-color: #323d0664;
//         border-radius: 0.8rem;
//         transition: 0.32s all ease-out;
//       }
//     }

//     .episode:hover {
//       background-color: #323d0616;
//       transition: 0.32s all ease-out;
//       cursor: pointer;
//       padding: 1.2rem;

//       .episode-details {
//         opacity: 1;
//         color: #374305;
//         transition: 0.32s all ease-out;
//       }

//       .episode-title {
//         color: #5e710f;
//         transition: 0.32s all ease-out;
//       }

//       .episode-separator-line {
//         transition: 0.32s all ease-out;
//         background-color: #5e710f;
//       }

//       .separator-line {
//         transition: 0.32s all ease-out;
//         width: 0.16rem;
//         background-color: #5e710f;
//       }
//     }
//   }

//   .episodes-container::-webkit-scrollbar {
//     height: 1.2rem;
//     width: 1.2rem;
//   }

//   /* Track (background) */
//   .episodes-container::-webkit-scrollbar-track {
//     background: #dee9b5;
//     border-radius: 6px;
//   }

//   /* Handle (thumb) */
//   .episodes-container::-webkit-scrollbar-thumb {
//     background: #b6e00b; /* Gray thumb */
//     border-radius: 6px; /* Rounded corners */
//     width: 2.4px;
//     border: 0.24rem solid #dee9b5; /* Adds padding around the thumb */
//   }

//   /* Handle on hover */
//   .episodes-container::-webkit-scrollbar-thumb:hover {
//     background: #b6e00b; /* Darker gray on hover */
//   }
// }
