.profile-wrapper {
  width: auto;
  min-width: 14rem;

  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;

  mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%
    );

  .profile-image {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1rem;
  }

  p {
    font-size: 1.6rem;
    opacity: 0.64;
    min-width: fit-content;
    
    text-overflow: ellipsis;
  }
}

.profile-wrapper-small {
  width: auto;
  min-width: 14rem;

  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;

  mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%
    );

  .profile-image {
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 1rem;
  }

  p {
    font-size: 1.4rem;
    opacity: 0.64;
    min-width: fit-content;
    
    text-overflow: ellipsis;
  }
}


.profile-wrapper-no-text {
  width: 3.2rem;
  min-width: 3.2rem;

  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;

  mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 0) 100%
    );

  .profile-image {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1rem;
  }
}

.profile-wrapper-navbar {
  width: auto;
  // min-width: 14rem;

  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  padding: 0rem .4rem 0rem .8rem;
  overflow: hidden;

  .profile-image {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 1rem;
  }

  p {
    font-size: 1.6rem;
    opacity: 0.64;
    min-width: fit-content;
    
    text-overflow: ellipsis;
  }
}