@use '../../../../variables.scss' as *;

:host {
  width: 100%;
}

// For the small icon
.small {
  max-width: 3.2rem;
  max-height: 3.2rem;
  height: 3.2rem;
  width: 3.2rem;

  padding: 0.8rem;
  border-radius: 0.8rem;
}
.small-text {
  max-height: 3.2rem;
  height: 3.2rem;
  border-radius: 0.8rem;
}

button {
  width: auto;
  height: 4rem;
  min-height: 3.2rem;

  padding: 0.8rem 1.2rem;
  background-color: var(--main-color-dark);
  border: 1px solid var(--main-color-dark);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  border-radius: 1.2rem;
  transition: var(--transition-160);

  p {
    color: var(--main-color-light);
    text-overflow: clip;
    white-space: nowrap;
  }

  .button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4rem;
  }

  svg {
    height: 2.4rem;
    width: 2.4rem;
    min-width: 2.4rem;
    path {
      stroke: var(--main-color-light);
    }
  }

  .arrow-right {
    height: 2.4rem;
    width: 2.4rem;
    path {
      stroke: var(--main-color-light);
    }
  }

  .open-right {
    height: 2rem;
    width: 2rem;
    transition: var(--transition-160);

    path {
      transition: var(--transition-160);
    }
    path:nth-child(2) {
    }
    path:nth-child(3) {
    }
  }

  .save-icon {
    height: 2rem;
    width: 2rem;
    path {
      height: 2rem;
      width: 2rem;
      stroke: var(--main-color-light);
      stroke-width: 0.2rem;
    }
  }

  .edit-icon {
    height: 2rem;
    width: 2rem;
    path {
      height: 2rem;
      width: 2rem;
      stroke: var(--main-color-light);
      stroke-width: 0.2rem;
    }
  }

  .delete {
    height: 1.6rem;
    width: 1.6rem;
  }

  &:hover {
    background-color: var(--main-color-dark-hover);
    border: 1px solid var(--main-color-hover);
    cursor: pointer;
    z-index: 30 !important;
    transition: var(--transition-160);
    gap: 1.6rem;

    p {
      color: var(--main-color-light-hover);
    }

    .arrow-right {
      transition: var(--transition-16);
      path {
        stroke-width: 0.24rem;
        transition: var(--transition-16);
      }
    }

    .open-right {
      height: 2rem;
      width: 2rem;
      transition: var(--transition-16);

      path {
        transition: var(--transition-16);
        stroke-width: 0.24rem;
      }

      path:nth-child(2) {
        transform: translate(2px, -2px);
        stroke: var(--main-color);
      }
      path:nth-child(3) {
        transform: translate(2px, -2px);
        stroke: var(--main-color);
      }
    }
  }
}

.focused {
  background-color: var(--main-color-hover);
  border: 1px solid var(--main-color);

  p {
    color: var(--main-color-dark);
  }

  .button-icon {
    svg {
      path {
        stroke: var(--main-color-dark);
      }
    }
  }

  &:hover {
    background-color: var(--main-color);
    border: 1px solid var(--main-color-hover);
    

    p {
      color: var(--main-color-dark);
    }

    .button-icon {
      svg {
        path {
          stroke: var(--main-color-dark);
        }
      }
    }
  }
}
